  <div id="infodivWin" class="infoHover closed">
	<div class="pointer"></div>
	<div class="bd inputxlg">
		<div class="mblg">Assets</div>
		<div class="slider mt ui-slider" id="timeframe-slider"></div>
		<div class="mt">
			<label class="abs">0%</label>
			<label class="abs" style="left: 60px;"><span class="icupLink icmid icon"></span><span class="lblmid">20%</span></label>
			<label class="abs" style="left: 110px;"><span class="icupLink icmid icon"></span><span class="lblmid">40%</span></label>
			<label class="abs" style="left: 159px;"><span class="icupLink icmid icon"></span><span class="lblmid">60%</span></label>
			<label class="abs" style="left: 208px;"><span class="icupLink icmid icon"></span><span class="lblmid">80%</span></label>
			<label class="abs" style="left: 245px;">100%</label>
		</div>
		<div class="ptxlg">
			<input type="text" class="inputxs mr" maxlength="5" id="range1" value="0">
			to <input type="text" class="inputxs mls" maxlength="5" id="range2" value="5m+">
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="winCancel" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>
 <div class="infoHover infoHov closed" id="assetClassId">
  <div class="pointer"></div>
  <div class="bd">
	<div class="one_half "> 
		<div class="mb">Asset Class</div>
			<ul class="lblSelectPair assetClass">
			  <li class="check">
				<input id="asset1" name="asset1" type="checkbox" class="chkbox allSel" aria-required="" />
				<label for="asset1">All Assets</label>
			  </li>
			  <li class="check">
				<input id="asset2" name="asset2" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset2">Equities</label>
			  </li>
			  <li class="check">
				<input id="asset3" name="asset3" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset3">Money Market</label>
			  </li>
			  <li class="check">
				<input id="asset4" name="asset4" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset4">Fixed Income</label>
			  </li>
			  <li class="check">
				<input id="asset5" name="asset5" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset5">Multi-Asset</label>
			  </li>
			  <li class="check">
				<input id="asset6" name="asset6" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset6">Guaranteed</label>
			  </li>
			  <li class="check">
				<input id="asset7" name="asset7" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset7">Real Estate</label>
			  </li>
			  <li class="check">
				<input id="asset8" name="asset8" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="asset8">Brokerage</label>
			  </li>
			</ul>
	</div>
	<div class="one_half column_last">
		<!-- <ul class="lblSelectPair mtlg">
			<li class="check">
				<input id="lty" name="ac" type="radio" class="radio" checked aria-required="" />
				<label for="lty">Last 2 Years</label>
			</li>
			<li class="check">
				<input id="ytd" name="ac" type="radio" class="radio" aria-required="" />
				<label for="ytd">YTD</label>
			</li>
			<li class="check">
				<input id="asof" name="ac" type="radio" class="radio" aria-required="" />
				<label for="asof">AS OF</label>
			</li>
		</ul> 
	<input type="text" data-changeyear="true" data-changemonth="true" class="inputDate" id="testinput-Date-picker1" name="testinput-Date" aria-required="" />-->
	</div>
	<div class="btnBar pbs"> 
		<a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> 
		<a href="#" id="assetapply" class="btn clickable btnSmall" title="Apply"><span>Apply</span></a> 
	</div>
  </div>
  </div>
  
 <div class="infoHover infoHov closed" id="investmentId">
  <div class="pointer"></div>
  <div class="bd">
  <div>Investments</div>
  
	<ul class="lblSelectPair">
		 <!-- <li class="check">
			<input id="fundComp" name="InvestPop" type="radio" class="radio" checked aria-required="" />
			<label for="fundComp">By Fund Company</label>
		  </li>  -->
		   <li class="check">
			<!-- <input id="investType" name="InvestPop" type="radio" class="radio" aria-required="" /> -->
			<label for="investType" class="txtb">By Investment Type</label>
		  </li>
	</ul>
	<!--<div id="FundCompany"  class="closed">
	<div class="scrollCont1 pop">
		<div Class="scrollBody1 rel">
		<div class="mlm">
			<input type="checkbox" class="allSels fcompany" id="allInvestments"/>
			<label for="allInvestments">All Investments</label>
		</div>
			<div class="planpanel mtm">
				<div class="panels">
					<div class="hd">
						<h3><a class="collapsed" href="#" title="Mutual Funds"><span class="icon">+</span>
						  <div class="inline">
							<input type="checkbox"  class="mr temp sels firstlev" id="fundCmpny"/>
							<label for="fundCmpny">Fund Comapny Name</label>
						  </div>
						</a></h3>
					</div>
					<div class="content mb">
						<div class="bd mlm">
							<div class="hd">
								<h3><a class="collapsed" href="#" title="Annuities"><span class="icon">+</span>
								  <div class="inline">
									<input type="checkbox"  class="mr temp sels sublev" id="annuities"/>
									<label for="annuities">Annuities</label>
								  </div>
								</a></h3>
							</div>
							<div class="content mb">
								<div class="bd">
								</div>
							</div>
							<div class="hd">
								<h3><a class="collapsed" href="#" title="MutualFunds"><span class="icon">+</span>
								  <div class="inline">
									<input type="checkbox"  class="mr temp sels firstlev sublev" id="mutualfunds"/>
									<label for="mutualfunds">Mutual Funds</label>
								  </div>
								</a></h3>
							</div>
							<div class="content mb">
								<div class="bd" id="thirdlev">
									<ul class="lblSelectPair mlxlg">
										<li  class="check">
											<input type="checkbox" class="mr sels thirdlev sublev" id="FName1"/>
											<label for="FName1">Fund Name 1</label>
										</li>
										<li  class="check">
											<input type="checkbox" class="mr sels thirdlev sublev" id="FName2"/>
											<label for="FName2">Fund Name 2</label>
										</li>
										<li  class="check">
											<input type="checkbox" class="mr sels thirdlev sublev" id="FNam3"/>
											<label for="FNam3">Fund Name 3</label>
										</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
							<div class="hd">
								<h3><a class="collapsed" href="#" title="Retail"><span class="icon">+</span>
								  <div class="inline">
									<input type="checkbox"  class="mr temp sels sublev" id="retail"/>
									<label for="retail">Retail</label>
								  </div>
								</a></h3>
							</div>
							<div class="content mb">
								<div class="bd">
								</div>
							</div>
							<div class="clear"></div>
							
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="hd">
						<h3><a class="collapsed" href="#" title="Mutual Funds1"><span class="icon">+</span>
						  <div class="inline">
							<input type="checkbox"  class="mr temp sels" id="fundCmpny1"/>
							<label for="fundCmpny1">Fund Comapny Name</label>
						  </div>
						</a></h3>
					</div>
					<div class="content mb">
						<div class="bd">
						</div>
					</div>
					<div class="clear"></div>
					<div class="hd">
						<h3><a class="collapsed" href="#" title="Mutual Funds2"><span class="icon">+</span>
						  <div class="inline">
							<input type="checkbox"  class="mr temp sels" id="fundCmpny2"/>
							<label for="fundCmpny2">Fund Comapny Name</label>
						  </div>
						</a></h3>
					</div>
					<div class="content mb">
						<div class="bd">
						</div>
					</div>
					<div class="clear"></div>
					<div class="hd">
						<h3><a class="collapsed" href="#" title="Mutual Funds3"><span class="icon">+</span>
						  <div class="inline">
							<input type="checkbox"  class="mr temp sels" id="fundCmpny3"/>
							<label for="fundCmpny3">Fund Comapny Name</label>
						  </div>
						</a></h3>
					</div>
					<div class="content mb">
						<div class="bd">
						</div>
					</div>
					<div class="clear"></div>
					<div class="hd">
						<h3><a class="collapsed" href="#" title="Mutual Funds4"><span class="icon">+</span>
						  <div class="inline">
							<input type="checkbox"  class="mr temp sels" id="fundCmpny4"/>
							<label for="fundCmpny4">Fund Comapny Name</label>
						  </div>
						</a></h3>
					</div>
					<div class="content mb">
						<div class="bd">
						</div>
					</div>
				<div class="clear"></div>
				
			</div>
		</div>
	</div>
  </div>
  </div>-->
	<div id="InvestType">
	<div class="scrollCont1 pop">
		<div Class="scrollBody1 rel">
		<div class="mlm">
			<ul class="lblSelectPair mls" id="InstName">
				<li class="check">
					<input type="checkbox" class="allSels" id="allInvestments"/>
					<label for="allInvestments">Select All</label>
				</li>
				<li class="check">
					<input type="checkbox" class="chkbox sels" id="invest0"/>
					<label for="invest0">Advisor One Amerigo Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest1" class="chkbox sels"/>
				  <label for="invest1">Advisor One Clermont Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest2" class="chkbox sels"/>
				  <label for="invest2">Advisor One Descartes Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest3" class="chkbox sels"/>
				  <label for="invest3">Advisor One Flexible Income Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest4" class="chkbox sels"/>
				  <label for="invest4">Advisor One Liahona Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest5" class="chkbox sels"/>
				  <label for="invest5">Advisor One Select Allocation Fund Class N</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest6" class="chkbox sels"/>
				  <label for="invest6">Alger Capital Appreciation Portfolio I-2</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest7" class="chkbox sels"/>
				  <label for="invest7">Alger Spectra Fund Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest8" class="chkbox sels"/>
				  <label for="invest8">Alliance Bernstein Discovery Growth Fund Class A</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest9" class="chkbox sels"/>
				  <label for="invest9">Alliance Bernstein Discovery Growth Fund Inc. Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest10" class="chkbox sels"/>
				  <label for="invest10">Alliance Bernstein Discovery Value Fund Advisor Class</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest11" class="chkbox sels"/>
				  <label for="invest11">Alliance Bernstein Discovery Value Fund Class A</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest12" class="chkbox sels"/>
				  <label for="invest12">Alliance Bernstein Discovery Value Fund Class I</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest13" class="chkbox sels"/>
				  <label for="invest13">Alliance Bernstein Global Bond Fund Advisor Class</label>
				</li>
				<li class="check">
				  <input type="checkbox" id="invest14" class="chkbox sels"/>
				  <label for="invest14">Alliance Bernstein Global Bond Fund Class A</label>
				</li>
			</ul>
		</div>
		</div>
	</div>
	</div>
					
	<div class="btnBar pbs"> 
		<a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> 
		<a href="#" id="btnapply" class="btn clickable btnSmall btncancel" title="Apply"><span>Apply</span></a> 
	</div>
 
</div>
</div>
  
<div id="transferVendor" class="infoHover infoHov closed">
	<div class="pointer"></div>
	<div class="bd">
		<div class="mb">Transfers</div>
		<ul class="m nlist">
			<li>
				<input id="byVendorchk" name="byVendorchk" type="checkbox" class="chkbox allsel" />
				<label for="byVendorchk">By Vendor</label>
			</li>
		</ul>
		<ul class="nlist">
			<li>
				<input id="transferschk1" name="transferschk1" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="transferschk1">Fidelity</label>
			</li>
			<li>
				<input id="transferschk2" name="transferschk2" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="transferschk2">Vangard</label>
			</li>
			<li>
				<input id="transferschk3" name="transferschk3" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="transferschk3">Valic</label>
			</li>
			<li>
				<input id="transferschk4" name="transferschk4" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="transferschk4">Prudential</label>
			</li>
			<li>
				<input id="transferschk5" name="transferschk5" type="checkbox" class="chkbox sel" aria-required="" />
				<label for="transferschk5">Fifth Vendor</label>
			</li>
		</ul>
		<div class="btnBar pbs"> 
			<a href="#" class="btn3 rel btnSmall btncancel" id="transfersCancel" title="Cancel"><span>Cancel</span></a> 
			<a href="#" class="btn clickable btnSmall btncancel" id="transfersApply" title="Apply"><span>Apply</span></a> 
		</div>
	</div>
</div>
	
<div id="remittanceDate" class="infoHover infoHov closed">
	<div class="pointer"></div>
	<div class="bd">
		<div class="mb">Date Range (Month End Totals)</div>
		<div class="mls">
			<select name="month" id="month" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
	
			<select name="year" id="year" size="1"  aria-required="" class="inputs">
				<option value="" selected="selected"></option>
				<option value=""></option>
			</select>
		</div>
		<span class="m txtb">To</span>
		<div class="mls">
			<select name="month1" id="month1" size="1"  aria-required="" class="inputs">
				<option value="1">Jan</option>
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
	
			<select name="year1" id="year1" size="1"  aria-required="" class="inputs">
				<option value=""></option>
				<option value="" selected="selected"></option>
			</select>
			<div class="alertHighlight">
				<span class="alertText inputlg hidden" id="dateRange">Please select a valid Date Range.</span>
			</div>
		</div>
		<div class="btnBar mtm">
			<a title="Cancel" class="btn3 rel btncancel" id="cancelDate" href="#"><span>Cancel</span></a>
			<a title="Apply" class="btn clickable rel" id="applyDate" href="#"><span>Apply</span></a>
		</div>
	</div>
</div>

  
  <div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
    <div class="body"> 
		<div class="alertModule hidden" aria-live="assertive" id="alertModule">
			 <div>
			  <span class="icon"></span>
			  <h4 role="alert">Error:</h4>
			  <ul>
				<li role="alert">New Name Can Not Be Blank.Please Enter a Book Name Before Saving.</li>
			 </ul>
			</div>
		</div>
		<!--<div class="lblFieldPair closed" id="clientPopupSel">
			<div class="lbl">
				<label id="bType" class="txtb">Book Type:</label>
			</div>
			<div class="input">
				<ul class="lblinline">
					<li>
						<input type="radio" class="radio" id="mClient" name="selBookType" checked aria-required="false" aria-labelledby="selBookType" />
						<label for="selBookType">My Clients Books</label>
					</li>
					<li>
						<input type="radio" class="radio" id="aClient" name="selBookType" aria-required="false" aria-labelledby="selBookType" />
						<label for="selBookType">All Clients Books</label>
					</li>
				</ul>
			</div>
		</div>-->
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"> <label for="">Select a Book Name:</label> </div>
			<div class="input">
				<div class="scrollContainer nm nbdr">
					<div id="mngCustLst" class="bdr p clickable">
						<ul class="nlist np">
							<li rel="acb">Another Custom Book</li>
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
					<div id="mngCustLst1" class="bdr p clickable closed">
						<ul class="nlist np">
							<li rel="cbo">Custom Book One</li>
							<li rel="bb">Bob's Book</li>
							<li rel="nr">Northwest Region</li>
							<li rel="arlbn">A really long book name</li>
							<li rel="ab">Another Book</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl p"> <label for="">Take Action:</label> </div>
			<div class="input">
				<div class="">
					<select id="actionSelect" name="actionSelect" aria-required="" class="m" disabled>
						<option>-Select-</option>
						<option>Make Copy</option>
						<option>Rename</option>
						<option>Set As Default Book</option>
						<option>Delete</option>
					</select>
					<input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
					<input type="text" id="copyBook" name="copyBook" aria-required="" class="closed"/>
				</div>
			</div>
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="applyMngCust"><span>Apply</span></button>
	</div>
  </div>
 
 <div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
    <div class="body"> 
		<div class="alertModule hidden" aria-live="assertive" id="alertModule1">
			 <div>
			  <span class="icon"></span>
			  <h4 role="alert">Error:</h4>
			  <ul>
				<li role="alert">Please Enter a Book Name before you save.</li>
			 </ul>
			</div>
		</div>
		<div class="lblFieldPair">
			<div class="lbl txtb mtm"><label for="">Current Selections:</label> </div>
			<div class="input">
				<div class="scrollContainer nbdr">
					<div class="bdr p rel">
						<ul class="nlist" id= "curSelPopup">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nbdr">
			<div class="lblFieldPair">
				<div class="lbl"> <label for="">Book Name:</label> </div>
				<div class="input"> <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
					<ul class="lblSelectPair">
						<li>
							<input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
							<label for="democheckbox1">Set As Default Book</label>
						</li>
					</ul>
				</div>
			</div>
		    
		</div>
	</div>
	<div class="btnBar">
	  <a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
	  <button class="btn" title="Submit" id="saveCustomBook"><span>Save Custom Book</span></button>
	</div>
  </div>
  
  <div id="alertPopup" class="popup" data-popup="width:300" title="Alert">
    <div class="body"> 
		You have selected a different view.Switching views will clear all selected filters.Do you wish to change views?
	</div>
	<div class="btnBar">
	  <a role="button" href="#" id="cancelViewChange" class="btn3 closePopup" title="No"><span>No</span></a>
	  <a role="button" href="#" id="viewChange" class="btn closePopup" title="Yes"><span>Yes</span></a>
	</div>
  </div>
  
  <div id="deleteBook" class="popup" data-popup="width:300" title="Alert">
    <div class="body"> 
		You have chosen to delete the<span id="bnam" class="txtb closed"></span> custom book.Are you sure you want to delete this book?
	</div>
	<div class="btnBar">
	  <a role="button" href="#" id="canceldel" class="btn3 closePopup" title="No"><span>No</span></a>
	  <a role="button" href="#" id="delBook" class="btn closePopup" title="Yes"><span>Yes</span></a>
	</div>
  </div>
  
  <div class="actionsMenu" id="group-actions">
  <ul id="groupaccmenu" class="">
    <li> <a href="assets/ibob_excel.xlsx" title="Export to Excel">Export to Excel</a></li>
  </ul>
</div>
 <!-- Start Of POPUP For Sprint6 --> 
 
<!-- End Of POPUP For Sprint 
6-->