<section class="drop">  
  <div class="cm">

  <div class="bd"> 

      <div class="txtl mblg closed"><a href="#" onClick="backAway()">Goto Institutional summary</a></div>

      <h3 >Qualifying Participants Digital Score</h3>

      <p class="closed">As a TIAA employee, you’re also a valued Participant. We want you to take full advantage of our digital tools and services.</p>
      <div class="clearfix pt">
        <div class="one_third">
          <div class="clearfix">
            <div class="fll">
              <h3 class="nmt">Digital Score:</h3>
              <h2 class="scoreContent">HERO (80%)</h2>
            </div>
            <div class="fll mlm">
              <img src="assets/images/superhero_large.png" alt="Superhero">
            </div>
          </div>
        </div>
        <div class="two_third column_last">
          <p class="flr">Your score puts David Testa into one of five categories:</p>
          <div class="clear"></div>
          <div class="flr"><span class="txtb mrs">0% - 49%:</span><span class="mrm">Novice</span><span class="txtb mrs">50% - 64%:</span><span class="mrm">Apprentice</span><span class="txtb mrs">65% - 74%:</span><span class="mrm">Pro</span><span class="txtb mrs">75% - 89%:</span><span class="mrm">Hero</span><span class="txtb mrs">90% - 100%:</span><span class="mr">Superhero!</span><img src="assets/images/superhero_small.png" alt="Superhero" class="mrs"></div>
          <div class="clear"></div>
        </div>
      </div>

      <div>
          Include: 
          <select >
              <option>Active</option>
              <option>Inactive</option>
              <option>Total</option>
           </select>
           Qualified Participants
      </div>

      <div class="txtb mt scoreBlurb ">You’re the best of the best when it comes to going digital. Keep up the great work!</div>

      <div class="mt">
        <table summary="Key Influencers" class="styleA fw">
          <caption>
          Participants Digital Score
          </caption>
          <colgroup>
          <col width="33%">
          <col width="33%">
          <col width="34%">
          </colgroup>
          <thead>
            <tr>
              <th> Category </th>
              <th class="txtc"> Score </th>
              <th class="closed"> Comment </th>
              <th>Take Action to Improve [Institution Name] Score</th>
            </tr>
          </thead>
          <tbody>



            <tr>
              <td> <a href='#'>Web ID</a></td>
              <td><div class="ud-progress-bar-container fll" data-progress='60'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use Web ID </td>
              <td> <a href='#'>Improve My TIAA Usage</a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Web Activity</a></td>
              <td><div class="ud-progress-bar-container fll" data-progress='80'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use Web </td>
              <td> <a href='#'>Increase valid email addresses</a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Email Activity</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='100'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use email </td>
              <td> <a href='#'>Increase eDelivery subscriptions </a> </td>
            </tr>

            <tr>
              <td> <a href='#'>eDelivery</a></td>
              <td> 
                <div class="ud-progress-bar-container fll" data-progress='60'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                
                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>
             

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use eDelivery </td>
              <td> <a href='#'>Improve Web ID Registration</a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Mobile Activity</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='100'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use mobile devices </td>
              <td> <a href='#'>Promote TIAA mobile Apps </a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Call Activity</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='70'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>
                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use call in </td>
              <td> <a href='#'>Improve Self service activity</a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Paper Activity</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='80'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>

                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>

              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use paper </td>
              <td> <a href='#'> Reduce paper submissions</a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Retirement Advisor</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='60'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>
                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>
              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use RA </td>
              <td> <a href='#'> Promote Retirement Adviser </a> </td>
            </tr>

            <tr>
              <td> <a href='#'>Retirement Income Planner</a> </td>
              <td><div class="ud-progress-bar-container fll" data-progress='70'>
                  <div class="ud-progress-bar">
                    <div class="ud-progress-bar-label"></div>
                  </div>
                </div>
                <input type="button" id="tooltip-example" name="tooltip-example" class="tipLink mt" value="?" role="button" aria-describedby="help-example"/>
                <div class="tipContents" id="help-example" role="tooltip" aria-hidden="true"> ...Content... </div>
              </td>
              <td class="closed"> 60% or 120 of 200 of your qualifying participants use RIP </td>
              <td> <a href='#'> Promote Retirement Income Planner</a> </td>
            </tr>

          </tbody>
        </table>  
     </div>

  </div>
  </div>
</section>