<div class="logo">
                        <a href="#"><img alt="TIAA CREF - Financial Services" src="../../themes/ud_atom/images/logo_udwiki.gif"></a>
                        TIAA-CREF.org
                      </div>
                      <div class="headertitle">Co-Branding Title</div>
                      <div class="globalutil">
                        <div class="utillinks" role="navigation">
                          <ul aria-label="Utility Navigation">
                            <li class="first">Hi, John</li>
                            <li>
                              <a href="#">Log out</a>
                            </li>
                            <li class="last"><span class="today">Today</span></li>
                          </ul>
                        </div>
                      </div>
                      <!-- Global Search Form -->
                      <div class="globalsearch">
                        <div class="searchBox" role="search">
                          <form>
                           <span id="searchlabel" class="screenReader">Search</span>
                          <input type="text" autocomplete="off" id="searchBox-input" name="searchBox-input" class="txtInput txtlt" value="" aria-labelledby="searchlabel" placeholder="Search">            
                          <input type="submit" name="searchBox-button" id="searchBox-btn" class="btnSubmit" title="Submit" value="Submit">
                        </form>
                      </div>
                    </div>

