<div id="maincontainer" >
	<div class="clearfix">
		<div id="firstcolumn" class="one_fifth">
			<div>
				<div class="mblg bdr p">
					<span class="txtb">SELECTED BOOK</span>
					<div class="mtbs">
						<span class="selBook">None</span>
					</div>
					<select id="bookselect" name="bookselect" aria-required="" class="inputlg">
						<option value="3">Choose Custom Book</option>
						<option value="12_mbb">My Book of Business</option>
						<option value="11_cbo">Custom Book One</option>
						<option value="8_bb">Bob's Book</option>
						<option value="21_nr">Northwest Region</option>
						<option value="5_arlbn">A really long Book Name</option>
						<option value="7_ab">Another Book</option>
					</select>  
				</div>
				<div class="clear"></div>
				<div class="shd2 p rel">

					<div class="mb">
						<h3 class="nm">CURRENT SELECTIONS<a class="tipLink" title="Lorem Ipsum">?</a></h3>
						<div class="ms">
							<span class="txtb curSels"><span id="instCurSel">None</span></span>
						</div>
					</div>
					<div class="scrollContainer">
					<div id="curSelsSec" class="closed">
						<ul class="nlist" id="mbb">
							<li>
								<span>My Team: Smith, John</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: West</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: AZ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CO</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
						<ul class="nlist closed" id="cbo">
							<li>
								<span>My Team: Cruz, Penelope</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: South</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CO</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
						<ul class="nlist closed" id="bb">
							<li>
								<span>My Team: Aida, Ocejo</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: North</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CT</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CO</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
						<ul class="nlist closed" id="nr">
							<li>
								<span>My Team: lla, Sweeten</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: National</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: AK</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CO</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
						<ul class="nlist closed" id="arlbn">
							<li>
								<span>My Team: Smith, John</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: Mid Atlantic</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: AR</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CO</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
						<ul class="nlist closed" id="ab">
							<li>
								<span>My Team: Obama, Michelle</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>Region: West</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: AZ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: WS</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NY</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: CA</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
							<li>
								<span>State: NJ</span>
								<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
							</li>
						</ul>
					</div>
					</div>
					<div class="flr">
						<a href="#" id="clearAllRef">
							<span class="icrefreshLink icon">Clear All</span>
							<span class="linktxt">Clear All</span>
						</a>
					</div>
					<a href="#manageBookPopup" class="btn3 mtbs btnSmall inputlg txtc" title="Manage Button" role="button">
					  <span>Manage Custom Books</span>
					</a>
					<a href="#createBookPopup" class="btn2 mts btnSmall inputlg txtc" title="Create Button" role="button">
					  <span>Create Custom Book</span>
					</a>
				</div>
				<!--<a href="" class="btn btnSmall mtbm inputlg ml txtc" title="Primary Button" role="button">
				  <span>Update Selections</span>
				</a>-->
			</div>
			<div class="planpanel mtm" id="leftcol_bob">
				<div class="panels">
				 <b>NARROW YOUR SELECTION</b>
					<div class="mtbs relheight">
				   
					  <div class="hd ptm">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>My Team
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="directOneName" class="firstlevel"/>
							  <label for="directOneName">Direct One Name</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink firstlevel" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv content1 closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="secondlevelchkbox1" class="secondlevel chkAllign" />
									  <label for="secondlevelchkbox1">Cruz, Penelope</label>
									  <span class="closed clickable thirdpen"><span class="icclearLink thirdleveledit icon flr" title="Close">x</span></span>
									  <div class="flr"><a href="#" class="iceditLink icon" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
									  <div class="clear"></div>
										<div class="thirdleveldiv closed">
										  <ul class="nlist nm">
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox1" class="thirdlevel chkAllign" />
												  <label for="thirdlevelchkbox1">Hanks, Tom</label>
												</li>
											  </ul>
											</li>
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox2" class="thirdlevel chkAllign"/>
												  <label for="thirdlevelchkbox2">Smith, Will</label>
												</li>
											  </ul>
											</li>
										  </ul>
										</div>
									  
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="secondlevelchkbox2" class="secondlevel chkAllign"/>
									  <label for="secondlevelchkbox2">Smith, John</label>
									  <span class="closed clickable thirdpen"><span class="icclearLink thirdleveledit icon flr" title="Close">x</span></span>
									  <div class="flr"><a href="#" class="iceditLink icon " title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
									  <div class="clear"></div>
									<div class="thirdleveldiv closed">
										  <ul class="nlist nm">
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox3" class="thirdlevel chkAllign" />
												  <label for="thirdlevelchkbox3">White, Walter</label>
												</li>
											  </ul>
											</li>
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox4" class="thirdlevel chkAllign"/>
												  <label for="thirdlevelchkbox4">Clooney, George</label>
												</li>
											  </ul>
											</li>
										  </ul>
									</div>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						</li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="directTwoName" class="firstlevel"/>
							  <label for="directTwoName">Direct Two Name</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink firstlevel" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv content1 closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" class="secondlevel chkAllign" id="secondlevelchkbox4" />
									  <label for="secondlevelchkbox4">Aida, Ocejo</label>
									  <span class="closed clickable thirdpen"><span class="icclearLink thirdleveledit icon flr" title="Close">x</span></span>
									  <div class="flr"><a href="#" class="iceditLink icon " title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
									  <div class="clear"></div>
									  <div class="thirdleveldiv closed">
										  <ul class="nlist nm">
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox5" class="thirdlevel chkAllign" />
												  <label for="thirdlevelchkbox5">Jones, Arc</label>
												</li>
											  </ul>
											</li>
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox6" class="thirdlevel chkAllign"/>
												  <label for="thirdlevelchkbox6">Michael, Goerge</label>
												</li>
											  </ul>
											</li>
										  </ul>
										</div>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" class="secondlevel chkAllign" id="secondlevelchkbox5" />
									  <label for="secondlevelchkbox5">lla, Sweeten</label>
									  <span class="closed clickable thirdpen"><span class="icclearLink thirdleveledit icon flr" title="Close">x</span></span>
									  <div class="flr"><a href="#" class="iceditLink icon" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
									  <div class="clear"></div>
									  <div class="thirdleveldiv closed">
										  <ul class="nlist nm">
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox7" class="thirdlevel chkAllign" />
												  <label for="thirdlevelchkbox7">John, Robert</label>
												</li>
											  </ul>
											</li>
											<li class="np closed">
											  <ul class="lblSelectPair mlm">
												<li>
												  <input type="checkbox" id="thirdlevelchkbox8" class="thirdlevel chkAllign"/>
												  <label for="thirdlevelchkbox8">Stephen, Jane</label>
												</li>
											  </ul>
											</li>
										  </ul>
									 </div>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						</ul>
					  </div>
					</div>
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Region
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="east" class=""/>
							  <label for="east">East</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="midAtlantic" class=""/>
							  <label for="midAtlantic">Mid Atlantic</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="midWest" class=""/>
							  <label for="midWest">Mid West</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="national" class=""/>
							  <label for="national">National</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="north" class=""/>
							  <label for="north">North</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="south" class=""/>
							  <label for="south">South</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="west" class=""/>
							  <label for="west">West</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					</div>
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>State
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="az" class=""/>
							  <label for="az">AZ</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="al" class=""/>
							  <label for="al">AL</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="ar" class=""/>
							  <label for="ar">AR</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="ca" class=""/>
							  <label for="ca">CA</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="co" class=""/>
							  <label for="co">CO</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  </ul>
						  <span class="toggleMore">--- More States ---</span>
						 <ul class="lblSelectPair nbdr closed">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="az" class=""/>
							  <label for="az">AK</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="az" class=""/>
							  <label for="az">CT</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					</div>
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Market
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="higherEducation" class=""/>
							  <label for="higherEducation">Higher Education </label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="higherEducation" class=""/>
							  <label for="higherEducation">Higher Education </label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="religion" class=""/>
							  <label for="religion">Religion</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="healthcare" class=""/>
							  <label for="healthcare">Healthcare</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="research" class=""/>
							  <label for="research">Research</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					</div>
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Segment
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="premier" class=""/>
							  <label for="premier">Premier</label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="partner" class=""/>
							  <label for="partner">Partner</label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="primary" class=""/>
							  <label for="primary">Primary</label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="hospital" class=""/>
							  <label for="hospital">Hospital</label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="direct" class=""/>
							  <label for="direct">Direct</label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					</div>
						
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Interactions
							</a>
						</h3>
					  </div>
					  <div class="content firstcont">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="channel" class="firstlevel"/>
							  <label for="channel">Channel</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign" />
									  <label for="phoneIn">Phone (In)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneOut" class="closed secondlevel chkAllign"/>
									  <label for="phoneOut">Phone (Out)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="email" class="closed secondlevel chkAllign"/>
									  <label for="email">Email</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="inPersonCampus" class="closed secondlevel chkAllign"/>
									  <label for="inPersonCampus">In Person (Campus)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="inPersonTiaa" class="closed secondlevel chkAllign"/>
									  <label for="inPersonTiaa">In Person (TIAA-CREF)</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="lastVisited" class="firstlevel"/>
							  <label for="lastVisited">Last Visited</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="never" class="chkAllign secondlevel" name="lastVisited" />
									  <label for="never">Null</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastWeek" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="lastWeek">Last 30 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastMonth" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="lastMonth">Last 60 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="last3Months" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="last3Months">Last 90 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="last6Months" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="last6Months">Last 180 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastYear" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="lastYear">Last Year</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="moreYear" class="chkAllign secondlevel" name="lastVisited"/>
									  <label for="moreYear">More than One Year</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="status" class="firstlevel"/>
							  <label for="status">Status</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="open" class="chkAllign secondlevel" name="status"/>
									  <label for="open">open</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="inProgress" class="chkAllign secondlevel" name="status"/>
									  <label for="inProgress">In Progress</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="closed" class="chkAllign secondlevel" name="status"/>
									  <label for="closed">Closed</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						</ul>
					  </div>
					</div>
					
					  <div class="mbs relheight">
						  <div class="hd">
							<h3>
								<a href="#" class="collapsed">
									<span class="icon"></span>Opportunities
								</a>
							</h3>
						  </div>
						  <div class="content firstcont">
							<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="opportunityType" class="firstlevel"/>
							  <label for="opportunityType">Opportunity Type</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="annualReview" class="closed secondlevel chkAllign" />
									  <label for="annualReview">Annual Review</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="databaseUpdate" class="closed secondlevel chkAllign"/>
									  <label for="databaseUpdate">Database Update</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="dueDiligence" class="closed secondlevel chkAllign"/>
									  <label for="dueDiligence">Due Diligence</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="executionSummary" class="closed secondlevel chkAllign"/>
									  <label for="executionSummary">Execution Summary</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="feeProposal" class="closed secondlevel chkAllign"/>
									  <label for="feeProposal">Fee Proposal</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="investmentQuestion" class="closed secondlevel chkAllign"/>
									  <label for="investmentQuestion">Investment Question</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="proactiveProposal" class="closed secondlevel chkAllign"/>
									  <label for="proactiveProposal">Proactive Proposal</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="rfi" class="closed secondlevel chkAllign"/>
									  <label for="rfi">RFI</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="rpf" class="closed secondlevel chkAllign"/>
									  <label for="rpf">RFP</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="serviceModel" class="firstlevel"/>
							  <label for="serviceModel">Service Model</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="acquisisionExistingClient" class="closed secondlevel chkAllign" />
									  <label for="acquisisionExistingClient">Acquisision (Existing Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="acquisisionNewClient" class="closed secondlevel chkAllign"/>
									  <label for="acquisisionNewClient">Acquisision (New Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="deconversionFull" class="closed secondlevel chkAllign"/>
									  <label for="deconversionFull">Deconversion (Full)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="deconversionPartial" class="closed secondlevel chkAllign"/>
									  <label for="deconversionPartial">Deconversion (Partial)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="nonQualifiedPlansFunded" class="closed secondlevel chkAllign"/>
									  <label for="nonQualifiedPlansFunded">Non-Qualified Plans (Funded)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="nonQualifiedPlansUnfunded" class="closed secondlevel chkAllign"/>
									  <label for="nonQualifiedPlansUnfunded">Non-Qualified Plans (Unfunded)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="planMerge" class="closed secondlevel chkAllign"/>
									  <label for="planMerge">Plan Merge</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="planSplit" class="closed secondlevel chkAllign"/>
									  <label for="planSplit">Plan Split</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="recordkeepingServicesExiting" class="closed secondlevel chkAllign"/>
									  <label for="recordkeepingServicesExiting">Recordkeeping Services (Exiting)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="straightThruChangeControl" class="closed secondlevel chkAllign"/>
									  <label for="straightThruChangeControl">Straight Through Change Control</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="salesPhase" class="firstlevel"/>
							  <label for="salesPhase">Sales Phase</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="one" class="closed secondlevel chkAllign" />
									  <label for="one">1</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="two" class="closed secondlevel chkAllign"/>
									  <label for="two">2</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="three" class="closed secondlevel chkAllign"/>
									  <label for="three">3</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="four" class="closed secondlevel chkAllign"/>
									  <label for="four">4</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="five" class="closed secondlevel chkAllign"/>
									  <label for="five">5</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="six" class="closed secondlevel chkAllign"/>
									  <label for="six">6</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="seven" class="closed secondlevel chkAllign"/>
									  <label for="seven">7</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="eight" class="closed secondlevel chkAllign"/>
									  <label for="eight">8</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="nine" class="closed secondlevel chkAllign"/>
									  <label for="nine">9</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="winProbability" class="firstlevel"/>
							  <label for="winProbability">Win Probability</label>
							  <div class="winProbtxt closed">
									<span id="range1Val">10</span> <span>to</span> <span id="range2Val">30</span>
							  </div>
							</div>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="winProb"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="productAndServices" class="firstlevel"/>
							  <label for="productAndServices">Product and Services</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product1" class="closed secondlevel chkAllign" />
									  <label for="product1">Product 1</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product2" class="closed secondlevel chkAllign"/>
									  <label for="product2">Product 2</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product3" class="closed secondlevel chkAllign"/>
									  <label for="product3">Product 3</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product4" class="closed secondlevel chkAllign"/>
									  <label for="product4">Product 4</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product5" class="closed secondlevel chkAllign"/>
									  <label for="product5">Product 5</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product6" class="closed secondlevel chkAllign"/>
									  <label for="product6">Product 6</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product7" class="closed secondlevel chkAllign"/>
									  <label for="product7">Product 7</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product8" class="closed secondlevel chkAllign"/>
									  <label for="product8">Product 8</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						</ul>
						</div>
					  </div>
						
					<div class="mbs relheight">
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Risk
							</a>
						</h3>
					  </div>
		
					</div>
	
				</div>
			</div>
			<!--<a href="#" class="btn btnSmall mtbm inputlg ml txtc" title="Primary Button" role="button">
			  <span>Update Selections</span>
			</a>-->
			
			<!--End of Planepanel-->
		</div>
		<div id="secondcolumn" class="four_fifth column_last">
			<h3 class="nmt">
				<span class="icon"></span>Summary
			</h3>
				<div class="divider npt"></div>
				<div class="clear"></div>
					<div class="fw">
						<div class="clearfix ptm">
							<div class="one_half">
								<div class="lblFieldPair">
									<div class="lbl"><label for="accTot">Total Clients</label></div>
									  <div class="input">300</div>
								</div>
								<div class="lblFieldPair">
									<div class="lbl"><label for="accTot">Accumulation Total</label></div>
									  <div class="input">$3.3B</div>
								</div>
								<div class="lblFieldPair">
									<div class="lbl"><label for="contTot">Current Year Contribution Total</label></div>
									<div class="input">$2.3M</div>
								</div>
							</div>
							<div class="one_half column_last">
								<div class="lblFieldPair">
									<div class="lbl"><label for="contTot">Number of Clients with Open/Active RFP Status</label></div>
										<div class="input">10</div>
								</div>
								<div class="lblFieldPair">
								   <div class="lbl"><label for="contTot">Number of Clients in Red Status</label></div>
								   <div class="input">6</div>
							   </div>
							  <div class="lblFieldPair">
								   <div class="lbl"><label for="contTot">Number of Clients in Yellow Status</label></div>
								   <div class="input">4</div>
							   </div>  
							</div>
						</div> 
						<div class="clear"></div>
						<div class="myTab nbdr mtm">
							<ul>
							   <li><a href="#atAGlance">At a Glance</a></li>      
							   <li><a href="#Interactions">Interactions</a></li>
							   <li><a href="#Opportunities">Opportunities</a></li>
							   <li><a href="#Risk">Risk</a></li>
							</ul>
							<div id="atAGlance">
								<div class="panels">
									<div class="hd">
										<h3>
											<a href="" class="expanded" title="Charts">
												<span class="icon">+</span>Charts
											</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
										  <div class="clearfix">
											<div class="one_half mls foh">
													<h4 class="mllg">Assigned At Risk Status</h4>
													<div class="clear"></div>
													<div id="renderPieChart_AtaGlanceChange"></div>
											</div>
											   <div class="one_half column_last loh">
												  <h4 class="mllg">RFP Status</h4>
												  <div class="clear"></div>
													<div id="renderPieChart_RFPStatusChange"></div>  
											   </div>
											</div>
										</div>
									</div>
								</div>
								<div class="divider"></div>
								<div role="search" class="flcontainer">
									<form>
										<label class="txtb txts mrs fll lhlg plm" for="pptsearch">Quick Find:</label>
										<div class="searchBox cln fll">
											<input type="text" value="" placeholder="Enter Institution Name or Keyword" name="pptsearch" id="pptsearch" class="txtInput txtlt inputlg" autocomplete="off">
											<input type="submit" value="Submit" title="Submit" class="btnSubmit" name="searchBox-button">
										</div>
									</form>
								</div>
								<div class="clear"></div>
								<table id="tbl_ibob" class="styleA fullwidth mtb" summary="">
									<caption>At a Glance</caption>
									<colgroup>
										<col span="1" width="5%">
										<col span="1" width="25%">
										<col span="1" width="5%">
										<col span="1" width="5%">
										<col span="1" width="5%">
										<col span="1" width="10%">
										<col span="1" width="10%">
										<col span="1" width="15%">
										<col span="1" width="15%">
										<col span="1" width="5%">
									</colgroup>
									<thead>
										<tr>
										   <th scope="col" data-sortname="iId" data-sort="true" data-sortdatatype="string" scope="col">ID</th>
										   <th scope="col" data-sortname="iName" data-sort="true" data-sortdatatype="string">Institution Name</th>
										   <th scope="col" data-sortname="iState" data-sort="true" data-sortdatatype="string" scope="col">State</th>
										   <th scope="col" data-sortname="iSegment" data-sort="true" data-sortdatatype="string" scope="col">Segment</th>
										   <th scope="col" data-sortname="iRegion" data-sort="true" data-sortdatatype="string" scope="col">Region</th>
										   <th scope="col" data-sortname="iMarket" data-sort="true" data-sortdatatype="string" scope="col">Market</th>
										   <th scope="col" data-sortname="iDirector" data-sort="true" data-sortdatatype="string" scope="col">Director</th>
										   <th scope="col" data-sortname="iRm" data-sort="true" data-sortdatatype="string" scope="col">RM</th>
										   <th scope="col" data-sortname="iCrc" data-sort="true" data-sortdatatype="string" scope="col">CSC</th>
										   <th scope="col" data-sortname="iRisk" data-sort="true" data-sortdatatype="string" scope="col">Risk</th>
										 </tr>
									</thead>
									<tbody id="ibob" class="tbldata">
										<tr>
											<td>001234</td>
											<td><a href="#">ST. JOSEPH'S WAYNE HOSPITAL</a></td>
											<td>NJ</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Billington Lurline</td>
											<td>Chavarin Deanna</td>
											<td>Dolores Arnold</td>
											<td>Green</td>
										</tr>
										<tr>
											<td>006789</td>
											<td><a href="#">BETH ISRAEL</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Edsall Verna</td>
											<td>Demerson Desmond</td>
											<td>Mcmath Paula</td>
											<td>Green</td>
										</tr>
										<tr>
											<td>006546</td>
											<td><a href="#">BOSTON MEDICAL CENTER</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Mosley Flo</td>
											<td>Ocejo Aida</td>
											<td>Shiels Jim</td>
											<td>Green</td>
										</tr>
										<tr>
											<td>345098</td>
											<td><a href="#">CHILDREN'S HOSPITAL OF BOSTON</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Yaker Francine</td>
											<td>Sweeten Ila</td>
											<td>Wehrs Lyle</td>
											<td>Yellow</td>
										</tr>
										<tr>
											<td>098650</td>
											<td><a href="#">DANA-FARBER CANCER INSTITUTE</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Threat Shauna</td>
											<td>Vassell Nakia</td>
											<td>Dolores Arnold</td>
											<td>Green</td>
										</tr>
										<tr>
											<td>087563</td>
											<td><a href="#">MEDICAL FACULTY PHY @ BETH ISRAEL </a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Munder Renee</td>
											<td>Huizar Manuel</td>
											<td>Hagey Franklin</td>
											<td>Green</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
										<tr>
											<td>000123</td>
											<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
											<td>MA</td>
											<td>Primary</td>
											<td>East</td>
											<td>Hospital</td>
											<td>Boersma Tom</td>
											<td>Crady Candice</td>
											<td>Leclair Deirdre</td>
											<td>Red</td>
										</tr>
									</tbody>
								</table> 
								<div class="clear"></div>
								<div id="atGlance" class="pagination">
								</div>
							</div>
							<!--End of Investments-->
							<div id="Interactions">
								<div class="panels">
									<div class="hd">
										<h3>
											<a href="" class="expanded" title="Charts">
												 <span class="icon">+</span>Charts
											</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<div class="clearfix bdr">
												<div class="one_half">
													<h4 class="mllg">In Person Visits Over Last 12 Months</h4>
														<div class="clear"></div>
														<div id="renderPieChart_BalancesByAssets"></div>
												</div>
												<div class="one_half column_last">
													<h4 class="mllg">Most Popular Topics</h4>
													<div class="clear"></div>
														<div data-chart="pie;assetclasses;legend=bar;100%=show;" data-values="60,40" class="chartContainer" >
															<div class="chartPie fll"></div>
																<div class="fll">
																	<ul class="nlist inputm mllg">
																		<li data-count="topicname0" data-index="topicname0">
																			<span class="legendFundIcon multiAsset"></span>	
																			<span class="legendFundName">Topic Name</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="topicname1" data-index="topicname1">
																			<span class="legendFundIcon guaranteed"></span>
																			<span class="legendFundName">Topic Name</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="topicname2" data-index="topicname2">
																			<span class="legendFundIcon equities"></span>
																			<span class="legendFundName">Topic Name</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="topicname3" data-index="topicname3">
																			<span class="legendFundIcon fixedIncome"></span>
																			<span class="legendFundName">Topic Name</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="topicname4" data-index="topicname4">
																			<span class="legendFundIcon realEstate"></span>
																			<span class="legendFundName">Topic Name</span>
																			<div class="clear"></div>
																		</li>
																	</ul>
																</div>
														</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="divider"></div>
									<div role="search" class="flcontainer">
										<form>
											<label class="txtb txts mrs fll lhlg plm" for="pptsearch">Quick Find:</label>
											<div class="searchBox cln fll">
												<input type="text" value="" placeholder="Enter Institution Name or Keyword" name="pptsearch" id="pptsearch" class="txtInput txtlt inputlg" autocomplete="off">
												<input type="submit" value="Submit" title="Submit" class="btnSubmit" name="searchBox-button">
											</div>
										</form>
									</div>
									<div class="clear"></div>
									<table id="tbl_ibob_interactions" class="styleA fullwidth mtb" summary="">
										<caption>Interactions</caption>
										<colgroup>
											<col span="1" width="5%">
											<col span="1" width="8%">
											<col span="1" width="15%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="14%">
											<col span="1" width="8%">
											<col span="1" width="8%">
											<col span="1" width="5%">
										</colgroup>
										<thead>
											<tr>
											   <th scope="col" data-sortname="iIdI" data-sort="true" data-sortdatatype="string">ID</th>
											   <th scope="col" data-sortname="mnDir" data-sort="true" data-sortdatatype="string">Managing Director</th>
											   <th scope="col" data-sortname="iNameI" data-sort="true" data-sortdatatype="string">Institution Name</th>
											   <th scope="col" data-sortname="iChannelI" data-sort="true" data-sortdatatype="string">Channel</th>
											   <th scope="col" data-sortname="iCreatedByI" data-sort="true" data-sortdatatype="string">Relationship Manager</th>
											   <th scope="col" data-sortname="iLastVisitI" data-sort="true" data-sortdatatype="string">Last Visited</th>
											   <th scope="col" data-sortname="iCloseDateI" data-sort="true" data-sortdatatype="string">Close Date</th>
											   <th scope="col" data-sortname="iExternalAltI" data-sort="true" data-sortdatatype="string">External Attendee</th>
											   <th scope="col" data-sortname="iTopicI" data-sort="true" data-sortdatatype="string">Topic</th>
											   <th scope="col" data-sortname="iSubTopicI" data-sort="true" data-sortdatatype="string">Sub Topic</th>
											   <th scope="col" data-sortname="iNotesI" data-sort="true" data-sortdatatype="string">Notes</th>
											 </tr>
										</thead>
										<tbody id="ibob_interactions" class="tbldata">
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">001234</a></td>
												<td>Last, First</td>
												<td><a href="#">ST. JOSEPH'S WAYNE HOSPITAL</a></td>
												<td>Phone(Out)</td>
												<td>Billington Lurline</td>
												<td>10/17/2013</td>
												<td>11/11/2013</td>
												<td>Chavarin Deanna</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">006789</a></td>
												<td>Last, First</td>
												<td><a href="#">BETH ISRAEL</a></td>
												<td>Phone(In)</td>
												<td>Demerson Desmond</td>
												<td>10/21/2013</td>
												<td>11/19/2013</td>
												<td>Edsall Verna</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">006546</a></td>
												<td>Last, First</td>
												<td><a href="#">BOSTON MEDICAL CENTER</a></td>
												<td>Phone(Out)</td>
												<td>Ocejo Aida</td>
												<td>11/11/2013</td>
												<td>11/15/2013</td>
												<td>Mosley Flo</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">345098</a></td>
												<td>Last, First</td>
												<td><a href="#">CHILDREN'S HOSPITAL OF BOSTON</a></td>
												<td>Email</td>
												<td>Sweeten Ila</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Yaker Francine</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">098650</a></td>
												<td>Last, First</td>
												<td><a href="#">DANA-FARBER CANCER INSTITUTE</a></td>
												<td>In Person (Campus)</td>
												<td>Dolores Arnold</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Threat Shauna</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">087563</a></td>
												<td>Last, First</td>
												<td><a href="#">MEDICAL FACULTY PHY @ BETH ISRAEL </a></td>
												<td>In Person (TIAA-CREF)</td>
												<td>Hagey Franklin</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Munder Renee</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
											<tr>
												<td><a href="http://prototype.ops.tiaa-cref.org/ud/is/interaction_details.html">000123</a></td>
												<td>Last, First</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Phone(Out)</td>
												<td>Crady Candice</td>
												<td>11/10/2013</td>
												<td>11/13/2013</td>
												<td>Boersma Tom</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
												<td></td>
											</tr>
										</tbody>                    
									</table> 
									<div class="clear"></div>
									<div id="interactionTab" class="pagination">
									</div>
								</div>
							</div>
							<!--End of Interactions-->
							<div id="Opportunities">
								<div class="panels">
									<div class="hd">
										<h3>
											<a href="" class="expanded" title="Charts">
												 <span class="icon">+</span>Charts
											</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<div class="clearfix bdr">
												<div class="one_half">
													<h4 class="mllg">Opportunity Status</h4>
														<div class="clear"></div>
														<div data-chart="pie;assetclasses;legend=bar;100%=show;" data-values="60,40" class="chartContainer ml" >
															<div class="chartPie fll"></div>
															
															<div class="fll">
																<ul class="nlist inputm mllg">
																	<li data-count="openinprogress0" data-index="openinprogress0">
																		<span class="legendFundIcon multiAsset"></span>	
																		<span class="legendFundName">Open/In Progress</span>
																		<div class="clear"></div>
																	</li>
																	<li data-count="closedcancelled1" data-index="closedcancelled1">
																		<span class="legendFundIcon guaranteed"></span>
																		<span class="legendFundName">Closed-Cancelled</span>
																		<div class="clear"></div>
																	</li>
																	<li data-count="closedimproved2" data-index="closedimproved2">
																		<span class="legendFundIcon equities"></span>
																		<span class="legendFundName">Closed-Improved</span>
																		<div class="clear"></div>
																	</li>
																	<li data-count="closedlost3" data-index="closedlost3">
																		<span class="legendFundIcon fixedIncome"></span>
																		<span class="legendFundName">Closed-Lost</span>
																		<div class="clear"></div>
																	</li>
																	<li data-count="closedretired4" data-index="closedretired4">
																		<span class="legendFundIcon realEstate"></span>
																		<span class="legendFundName">Closed-Retired</span>
																		<div class="clear"></div>
																	</li>
																	<li data-count="closedwon5" data-index="closedwon5">
																		<span class="legendFundIcon moneyMarket"></span>
																		<span class="legendFundName">Closed-Won</span>
																		<div class="clear"></div>
																	</li>
																</ul>
															</div>
															<div class="clear"></div>
														</div>
												</div>
												<div class="one_half column_last">
													<h4 class="mllg">Sales Phase</h4>
													<div class="clear"></div>
														<div data-chart="pie;assetclasses;legend=bar;100%=show;" data-values="60,40" class="chartContainer" >
															<div class="chartPie fll"></div>
																<div class="fll">
																	<ul class="nlist inputm mllg">
																		<li data-count="closedcancelled0" data-index="closedcancelled0">
																			<span class="legendFundIcon multiAsset"></span>	
																			<span class="legendFundName">Closed/Cancelled</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="closedlost1" data-index="closedlost1">
																			<span class="legendFundIcon guaranteed"></span>
																			<span class="legendFundName">Closed/Lost</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="closedwon2" data-index="closedwon2">
																			<span class="legendFundIcon equities"></span>
																			<span class="legendFundName">Closed/Won</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="decisionpending3" data-index="decisionpending3">
																			<span class="legendFundIcon fixedIncome"></span>
																			<span class="legendFundName">Decision Pending</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="discovery4" data-index="discovery4">
																			<span class="legendFundIcon realEstate"></span>
																			<span class="legendFundName">Discovery</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="finalist5" data-index="finalist5">
																			<span class="legendFundIcon moneyMarket"></span>
																			<span class="legendFundName">Finalist</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="propose6" data-index="propose6">
																			<span class="legendFundIcon moneyMarket"></span>
																			<span class="legendFundName">Propose</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="quality7" data-index="quality7">
																			<span class="legendFundIcon moneyMarket"></span>
																			<span class="legendFundName">Quality</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="verbalin8" data-index="verbalin8">
																			<span class="legendFundIcon moneyMarket"></span>
																			<span class="legendFundName">Verbal WIn</span>
																			<div class="clear"></div>
																		</li>
																	</ul>
																</div>
														</div>
												</div>
										</div>
									</div>
								</div>
								<div class="divider"></div>
								<div role="search" class="flcontainer">
									<form>
										<label class="txtb txts mrs fll lhlg plm" for="pptsearch">Quick Find:</label>
										<div class="searchBox cln fll">
											<input type="text" value="" placeholder="Enter Institution Name or Keyword" name="pptsearch" id="pptsearch" class="txtInput txtlt inputlg" autocomplete="off">
											<input type="submit" value="Submit" title="Submit" class="btnSubmit" name="searchBox-button">
										</div>
									</form>
								</div>
								<div class="clear"></div>
								<div class="custscrollX">
									<table id="tbl_ibob_opportunities" class="styleA fullwidth mtb" summary="">
										<caption>Opportunities</caption>
										<colgroup>
											<col span="1" width="5%">
											<col span="1" width="20%">
											<col span="1" width="15%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="15%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="15%">
											<col span="1" width="15%">
											<col span="1" width="15%">
											<col span="1" width="15%">
											<col span="1" width="15%">
											<col span="1" width="15%">
										</colgroup>
										<thead>
											<tr>
											   <th scope="col" data-sortname="iIdO" data-sort="true" data-sortdatatype="string">ID</th>
											   <th scope="col" data-sortname="iNameO" data-sort="true" data-sortdatatype="string">Institution Name</th>
											   <th scope="col" data-sortname="iOpptyTypeO" data-sort="true" data-sortdatatype="string">Oppty Type</th>
											   <th scope="col" data-sortname="iOpptyNoO" data-sort="true" data-sortdatatype="string">Oppty No</th>
											   <th scope="col" data-sortname="iStatusO" data-sort="true" data-sortdatatype="string">Status</th>
											   <th scope="col" data-sortname="iServiceModelO" data-sort="true" data-sortdatatype="string">Service Model</th>
											   <th scope="col" data-sortname="iSalesPhaseO" data-sort="true" data-sortdatatype="string">Sales Phase</th>
											   <th scope="col" data-sortname="iWinProbO" data-sort="true" data-sortdatatype="string">Win Prob.</th>
											   <th scope="col" data-sortname="iExpBulkTransO" data-sort="true" data-sortdatatype="string">Exp. Bulk Transfers</th>
											   <th scope="col" data-sortname="iExpIndivO" data-sort="true" data-sortdatatype="string">Exp. Indiv. Transfers</th>
											   <th scope="col" data-sortname="iPotNewEnrollO" data-sort="true" data-sortdatatype="string">POT. New Enrollees</th>
											   <th scope="col" data-sortname="iGoLiveDateO" data-sort="true" data-sortdatatype="string">Go Live Date</th>
											   <th scope="col" data-sortname="iDecisionDateO" data-sort="true" data-sortdatatype="string">Decision Date</th>
											   <th scope="col" data-sortname="iAfpDueO" data-sort="true" data-sortdatatype="string">AFP Due Date</th>
											   <th scope="col" data-sortname="iClientImpO" data-sort="true" data-sortdatatype="string">Client Imp. Date</th>
											   <th scope="col" data-sortname="iNotesO" data-sort="true" data-sortdatatype="string">Notes</th>
											 </tr>
										</thead>
										<tbody id="ibob_opportunities" class="tbldata">
										   <tr>
												<td>001234</td>
												<td><a href="#">ST. JOSEPH'S WAYNE HOSPITAL</a></td>
												<td>REP</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Non-Qualified Plans(Funded)</td>
												<td></td>
												<td>20%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
										   </tr>
										   <tr>
												<td>006789</td>
												<td><a href="#">BETH ISRAEL</a></td>
												<td>RFI</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Merge</td>
												<td></td>
												<td>80%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>006546</td>
												<td><a href="#">BOSTON MEDICAL CENTER</a></td>
												<td>Annual Review</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Acquisition (Existing Client)</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>345098</td>
												<td><a href="#">CHILDREN'S HOSPITAL OF BOSTON</a></td>
												<td>Due Deligence</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Record Keeping Services (Existing)</td>
												<td></td>
												<td>30%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>098650</td>
												<td><a href="#">DANA-FARBER CANCER INSTITUTE</a></td>
												<td>Execution Summary</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Deconversion (Funded)</td>
												<td></td>
												<td>50%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>087563</td>
												<td><a href="#">MEDICAL FACULTY PHY @ BETH ISRAEL </a></td>
												<td>Free Propsed</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Startup Plan</td>
												<td></td>
												<td>60%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Investment Question</td>
												<td><a href="#">12345</a></td>
												<td>Open</td>
												<td>Plan Split</td>
												<td></td>
												<td>75%</td>
												<td>$12.345</td>
												<td>$12.345</td>
												<td>100</td>
												<td>09/12/13</td>
												<td>10/23/13</td>
												<td>11/08/13</td>
												<td>11/12/13</td>
												<td></td>
											</tr>
										</tbody>
									</table> 
								</div>
								<div class="clear"></div>
								<div id="opportunityTab" class="pagination">
								</div>
							</div>
						</div> 
						<!--End of Opportunities-->
						<div id="Risk">
								<div class="panels">
									<div class="hd">
										<h3>
											<a href="" class="expanded" title="Charts">
												 <span class="icon">+</span>Charts
											</a>
										</h3>
									</div>
									<div class="content">
										<div class="bd">
											<div class="clearfix bdr">
												<div class="one_half">
													<h4 class="mllg">Risk Status Change</h4>
														<div class="clear"></div>
														<div id="renderLineChart_RiskStatusChange" class="proStra"></div>
												</div>
												<div class="one_half column_last">
													<h4 class="mllg">Red Status Topics</h4>
													<div class="clear"></div>
														<div data-chart="pie;assetclasses;legend=bar;100%=show;" data-values="60,40" class="chartContainer" >
															<div class="chartPie fll"></div>
																<div class="fll">
																	<ul class="nlist inputm mllg">
																		<li data-count="closedcancelled0" data-index="closedcancelled0">
																			<span class="legendFundIcon multiAsset"></span>	
																			<span class="legendFundName">Topic 1</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="closedlost1" data-index="closedlost1">
																			<span class="legendFundIcon guaranteed"></span>
																			<span class="legendFundName">Topic 2</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="closedwon2" data-index="closedwon2">
																			<span class="legendFundIcon equities"></span>
																			<span class="legendFundName">Topic 3</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="decisionpending3" data-index="decisionpending3">
																			<span class="legendFundIcon fixedIncome"></span>
																			<span class="legendFundName">Topic 4</span>
																			<div class="clear"></div>
																		</li>
																		<li data-count="discovery4" data-index="discovery4">
																			<span class="legendFundIcon realEstate"></span>
																			<span class="legendFundName">Topic 5</span>
																			<div class="clear"></div>
																		</li>
																	</ul>
																</div>
														</div>
												</div>
										</div>
									</div>
								</div>
								<div class="divider"></div>
								<div role="search" class="flcontainer">
									<form>
										<label class="txtb txts mrs fll lhlg plm" for="pptsearch">Quick Find:</label>
										<div class="searchBox cln fll">
											<input type="text" value="" placeholder="Enter Institution Name or Keyword" name="pptsearch" id="pptsearch" class="txtInput txtlt inputlg" autocomplete="off">
											<input type="submit" value="Submit" title="Submit" class="btnSubmit" name="searchBox-button">
										</div>
									</form>
								</div>
								<div class="clear"></div>
									<table id="tbl_ibob_risk" class="styleA fullwidth mtb" summary="">
										<caption>Risk</caption>
										<colgroup>
											<col span="1" width="10%">
											<col span="1" width="20%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="10%">
											<col span="1" width="25%">
										</colgroup>
										<thead>
											<tr>
											   <th scope="col">ID</th>
											   <th scope="col" data-sortname="iNameO1" data-sort="true" data-sortdatatype="string">INSTITUTION NAME</th>
											   <th scope="col">RELATIONSHIP MGR</th>
											   <th scope="col">STATUS</th>
											   <th scope="col">OVERALL RISK STATUS</th>
											   <th scope="col">RISK ID</th>
											   <th scope="col">ASSESSMENT DATE</th>
											   <th scope="col">LAST UPDATED</th>
											   <th scope="col">TOPIC</th>
											   <th scope="col">SUBTOPIC</th>
											</tr>
										</thead>
										<tbody id="ibob_risk" class="tbldata">
										   <tr>
												<td>001234</td>
												<td><a href="#">ST. JOSEPH'S WAYNE HOSPITAL</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
										   <tr>
												<td>006789</td>
												<td><a href="#">BETH ISRAEL</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>006546</td>
												<td><a href="#">BOSTON MEDICAL CENTER</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Red</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>345098</td>
												<td><a href="#">CHILDREN'S HOSPITAL OF BOSTON</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>098650</td>
												<td><a href="#">DANA-FARBER CANCER INSTITUTE</a></td>
												<td>Last, First</td>
												<td>Closed</td>
												<td>Yellow</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>087563</td>
												<td><a href="#">MEDICAL FACULTY PHY @ BETH ISRAEL </a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
											<tr>
												<td>000123</td>
												<td><a href="#">HARVARD PILGRIM HEALTHCARE INC</a></td>
												<td>Last, First</td>
												<td>Open</td>
												<td>Green</td>
												<td>01234</td>
												<td><a href='#'>xx/xx/xx</a></td>
												<td>xx/xx/xx</td>
												<td>Topic Name</td>
												<td>Subtopic Name</td>
											</tr>
										</tbody>
									</table> 
								<div class="clear"></div>
								<div id="riskTab" class="pagination">
								</div>
							</div>
						</div> 
							
						<!--End of Tabs-->                                         
					</div>
					<!--End of bd-->   
				</div>
				<!--End of content-->   
			<!--End of Main Panel-->                                        
		</div>
	   <!--End of Second Column-->
	</div>
	<!--End of Clearfix-->
</div> 
		<!--End of Main Content-->									  
		
	<script>
		$(document).ready(function(){
			renderLineChart_RiskStatusChange();
			renderPieChart_BalancesByAssets();
			renderPieChart_AtaGlanceChange();
			renderPieChart_RFPStatusChange();
			
			
function renderLineChart_RiskStatusChange() {
chartid = "renderLineChart_RiskStatusChange";
    var chartP = new Highcharts.Chart({
        chart: {
            renderTo: chartid,
			height: 300,
			width: 400
        }, 		
		credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		},
		title: {
			text: '',
			x: -30
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle'
        },
		tooltip: {
			enabled: false
		},
		xAxis: {
			lineColor: '#000',
			lineWidth: 2,
			minPadding: 0,
			gridLineWidth: 0,
			labels: {
				enabled: false
			},
			title: {
				text: 'Time (rolling 12 month period)'
			}
		},
		yAxis: {
			lineColor: '#000',
			lineWidth: 2,
			gridLineWidth: 0,
			minPadding: 0,
			labels: {
				enabled: false
			},
			title: {
				text: 'Number of institutions with red/yellow status'
			}
		},
        series: [{
			name: 'Red',
			data: [0, 11.5, 8.5, 18],
			color: '#ed1c24',
			marker: {
				enabled: false,
				states: {
					hover: {
						enabled: false
					}
				}
			}
		}, {
			name: 'Yellow',
			data: [4.5, 6, 16, 13],
			color: '#ece409',
			marker: {
				enabled: false,
				states: {
					hover: {
						enabled: false
					}
				}
			}
		}]
    }); 
};	
		});
		
		function renderPieChart_BalancesByAssets() {
    chartid = "renderPieChart_BalancesByAssets";
   // databind = data_BalancesByAssets;
    title = "";
  /* if (!series) {
        series = databind.series;
    };*/
    var chartP;
    chartP = new Highcharts.Chart({
        chart: {
            renderTo: chartid,           
            height: 220,
			width:400
        }, 	
		title: {
			text: null
		},
		colors: ['#0153A3', '#803885', '#668D1C', '#522E6E', '#01A0AF', '#EBAE1E', '#494B4E'],
		xAxis:{
			categories: ['Jan', 'Feb', 'Mar', 'Apr'],
			lineWidth:1
		},
		yAxis:{
			title: {
                text: null
			},
			gridLineWidth :0,
			lineWidth:1
		},
		legend: {
			align: 'right',
			verticalAlign: 'top'
		},
		credits: {
            enabled: false
        },
        tooltip: {
			enabled: false
		},
        plotOptions: {
             column: {
					size:'10%',
                    allowPointSelect: true,
                    cursor: 'pointer',
					center: [100, 100],
                    dataLabels: {
                        enabled: false
                    },
					showInLegend: true
                }
        }, 
        series:[{
				type: 'column',
                name: 'Total Visits',
                data: [
                    ['Jan',   55],
                    ['Feb',   45],
                    ['Mar',   40],
                    ['Apr',   60]	
                ]
			}]
    }); };
	
	
	var getColor = {
    'AB': '#ebae1d',
    'BC': '#aa4643'
 
};
	function renderPieChart_AtaGlanceChange() {
	chartid = "renderPieChart_AtaGlanceChange";

	var chartP = new Highcharts.Chart({
	chart: {
            renderTo: chartid,
			height: 220,
			width: 400,
			padding: [0, 0, 0, 0],
			margin: [-20, 30, 30, 0],
			spacingTop: 0,
			spacingBottom: 0,
			plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
        }, 		
		
		
		title: {
			text: ''
			
		},
		dataLabels: {
			
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: '20',
			margin: [20, 0, 0, 0],
			borderWidth:0
        },
		tooltip: {
			enabled: true,
			formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.point.y ;
            }
			
		},
		 plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                   enabled: false
					
                },
                showInLegend: true
            }
        },
		
		credits: {
      enabled: false
  },


		
         series: [{
                type: 'pie',
                
                data: [
				
				{
					name:'YELLOW',
					y: 4,
					color:getColor['AB']
				},
                   {
					name:'RED',
					y: 6,
					color:getColor['BC']
				}
                
                ]
            }]

        

	 
 });
};

function renderPieChart_RFPStatusChange() {
chartid = "renderPieChart_RFPStatusChange";

 var chartP = new Highcharts.Chart({
	chart: {
            renderTo: chartid,
			height: 220,
			width: 400,
			padding: [0, 0, 0, 0],
			margin: [-20, 30, 30, 0],
			spacingTop: 0,
			spacingBottom: 0,
			plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
        }, 		
		
		
		title: {
			text: ''
			
		},
		dataLabels: {
			
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: '20',
			margin: [20, 0, 0, 0],
			borderWidth:0
        },
		tooltip: {
			enabled: true,
			formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.point.y ;
            }
			
		},
		 plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                   enabled: false
                },
                showInLegend: true
            }
        },
		
		credits: {
      enabled: false
  },
	
         series: [{
                type: 'pie',
                
                data: [
                    ['OPEN/ACTIVE', 6],
                    ['CLOSED/WON', 2],
					['CLOSED/LOST', 2]
                
                ]
            }]

        

	 
 });
};
	</script>