<div id="firstcolumn">
			<div>
				<div class="mblg bdr ps">
					<div class="closed" id="clientSelector">
						<fieldset>
							<legend><span class="screenReader">Your description</span></legend>
								<ul class="lblinline mbs">
									<li>
									<input type="radio" id="radio1" name="demoradio3" class="radio clientSel" checked aria-required="" />
									<label for="demoradio3">My Clients</label>
									</li>
									<li>
									<input type="radio" id="radio2" name="demoradio3" class="radio clientSel" aria-required="" />
									<label for="demoradio3">All Clients</label>
									</li>
								</ul>
						</fieldset>
					</div>
					<span class="txtb">SELECTED BOOK</span>
					<div class="mtbs">
						<span class="selBook">None</span>
					</div>
					<select id="bookselect1" name="bookselect" aria-required="" class="inputm">
						<option rel="ccb" value="1" id="defaultOpt" selected="selected">Choose Custom Book</option>
						<optgroup id="myClients"  label="MY CLIENT BOOKS">
							<option rel="acb" value="12_mbb">Another Custom Book</option>
						</optgroup>
						<optgroup id="allClients" label="ALL CLIENT BOOKS">
							<option rel="cbo" value="11_mbb">Custom Book One</option>
							<option rel="bb" value="8_mbb">Bob's Book</option>
							<option rel="nr" value="21_mbb">Northwest Region</option>
							<option rel="arlbn" value="5_mbb">A really long Book Name</option>
							<option rel="ab" value="7_mbb">Another Book</option>
						</optgroup>
					</select> 
					<select id="bookselect2" name="bookselect" aria-required="" class="inputm">
						<option rel="ccb" value="3">Choose Custom Book</option>
						<option rel="acb" value="12_mbb">Another Custom Book</option>
						<option rel="cbo" value="11_mbb">Custom Book One</option>
						<option rel="bb" value="8_mbb">Bob's Book</option>
						<option rel="nr" value="21_mbb">Northwest Region</option>
						<option rel="arlbn" value="5_mbb">A really long Book Name</option>
						<option rel="ab" value="7_mbb">Another Book</option>
					</select> 
				</div>
				<div class="clear"></div>
				<div class="shd2 p rel">

					<div class="mb">
						<h3 class="nm">CURRENT SELECTIONS<a class="tipLink" title="Lorem Ipsum">?</a></h3>
						<div class="ms">
							<span class="txtb curSels"><span id="instCurSel">None</span></span>
						</div>
					</div>
					<div class="scrollContainer current closed">
					<div class="shd4">
						<ul class="nlist" id="currentSel">
							<ul id="rel1" class="nm np">
								
							</ul>
							<ul id="rel2" class="nm np">
								
							</ul>
							<ul id="rel3" class="nm np">
								
							</ul>
							<ul id="rel4" class="nm np">
								
							</ul>
							<ul id="rel5" class="nm np">
								
							</ul>
							<ul id="rel6" class="nm np">
								
							</ul>
							<ul id="rel7" class="nm np">
								
							</ul>
							<ul id="rel8" class="nm np">
								
							</ul>
						</ul>
					</div>
					</div>
					<div class="scrollContainer">
					<div id="curSelsSec" class="closed">
						<ul class="nlist" id="mbb">
							<ul id="rel11" class="nm np">
								<li>
									<span>My Team: Smith, John</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
							</ul>
							<ul id="rel12" class="nm np">
								<li>
									<span>Region: West</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
							</ul>
							<ul id="rel13" class="nm np">
								<li>
									<span>State: AZ</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
								<li>
									<span>State: CO</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
								<li>
									<span>State: WS</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
								<li>
									<span>State: NY</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
								<li>
									<span>State: CA</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
								<li>
									<span>State: NJ</span>
									<span title="Close" class="icdeleteIcon icon flr mts custIcon">Delete</span>
								</li>
							</ul>
							<ul id="rel14" class="nm np">
								
							</ul>
							<ul id="rel15" class="nm np">
								
							</ul>
							<ul id="rel16" class="nm np">
								
							</ul>
							<ul id="rel17" class="nm np">
								
							</ul>
							<ul id="rel18" class="nm np">
								
							</ul>
							
						</ul>
					</div>
					</div>
					<div class="flr">
						<a href="#" id="clearAllRef">
							<span class="icrefreshLink icon">Clear All</span>
							<span class="linktxt">Clear All</span>
						</a>
					</div>
					<a href="#manageBookPopup" class="btn3 mtbs btnSmall inputBtn txtc" title="Manage Button" role="button">
					  <span>Manage Custom Books</span>
					</a>
					<a href="#createBookPopup" class="btn2 mts btnSmall inputBtn txtc" id="createBook" title="Create Button" role="button">
					  <span>Create Custom Book</span>
					</a>
				</div>
				<!--<a href="" class="btn btnSmall mtbm inputlg ml txtc" title="Primary Button" role="button">
				  <span>Update Selections</span>
				</a>-->
			</div>
			<div class="planpanel mtm" id="leftcol_bob">
				<div class="panels">
				 <b>NARROW YOUR SELECTION</b>
					
				   
					  <div class="hd ptm">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>My Team
							</a>
						</h3>
					  </div>
					  <div class="content firstcont" rel="1">
					  <ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="selectAll" class="firstlevel"/>
							  <label for="selectAll">Select All</label>
							</div>
							</li>
							</ul>
						<ul class="lblSelectPair nbdr">
						<div class=="scrollContainer">
						<div>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="directOneName" disabled class="firstlevel checked"/>
							  <label for="directOneName">Direct One Name</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink firstlevel" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv content1 closed">
							<div class="scrollContainer teamScroll closed">
							<div>
								<ul class="nlist nm">
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="secondlevelchkbox1" class="secondlevel chkAllign checked" />
										  <label for="secondlevelchkbox1">Cruz, Penelope</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="secondlevelchkbox2" class="secondlevel chkAllign checked"/>
										  <label for="secondlevelchkbox2">Smith, John</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="secondlevelchkbox3" class="secondlevel chkAllign checked"/>
										  <label for="secondlevelchkbox3">White, Walter</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="secondlevelchkbox4" class="secondlevel chkAllign checked"/>
										  <label for="secondlevelchkbox4">Carry, Jim</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="secondlevelchkbox5" class="secondlevel chkAllign checked"/>
										  <label for="secondlevelchkbox5">Pitt, Brad</label>
										</li>
									  </ul>
									</li>
								</ul>
							</div>
							</div>
							</div>
						</li>
					</div>
					</div>

						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="directTwoName" disabled class="firstlevel checked"/>
							  <label for="directTwoName">Direct Two Name</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink firstlevel" title="Edit"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv content1 closed">
							<div class="scrollContainer teamScroll closed">
							<div>
								<ul class="nlist nm">
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" class="secondlevel chkAllign checked" id="secondlevelchkbox6" />
										  <label for="secondlevelchkbox6">Aida, Ocejo</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" class="secondlevel chkAllign checked" id="secondlevelchkbox7" />
										  <label for="secondlevelchkbox7">lla, Sweeten</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" class="secondlevel chkAllign checked" id="secondlevelchkbox8" />
										  <label for="secondlevelchkbox8">Damon, Matt</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" class="secondlevel chkAllign checked" id="secondlevelchkbox9" />
										  <label for="secondlevelchkbox9">Stark, Tonny</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" class="secondlevel chkAllign checked" id="secondlevelchkbox10" />
										  <label for="secondlevelchkbox10">Wayne, Bruce</label>
										</li>
									  </ul>
									</li>
								  </ul>
							</div>
							</div>
							</div>
						  </li>
						</ul>
					</div>
				
					
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Region
							</a>
						</h3>
					  </div>
					  <div class="content firstcont" rel="2">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="east" class="checked"/>
							  <label for="east">East</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="midAtlantic" class="checked"/>
							  <label for="midAtlantic">Mid Atlantic</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="midWest" class="checked"/>
							  <label for="midWest">Mid West</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="national" class="checked"/>
							  <label for="national">National</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="north" class="checked"/>
							  <label for="north">North</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="south" class="checked"/>
							  <label for="south">South</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="west" class="checked"/>
							  <label for="west">West</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					
					<div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>State
							</a>
						</h3>
						</div>
					 <div class="content firstcont mbs" rel="3">
					  <div class="scrollContainer scrollCont">
					  <div>
						<ul class="lblSelectPair nbdr" id="myClientStates">
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">AZ</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="al" class="checked"/>
								  <label for="al">AL</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="ar" class="checked"/>
								  <label for="ar">AR</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="ca" class="checked"/>
								  <label for="ca">CA</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="co" class="checked"/>
								  <label for="co">CO</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">AK</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
						</ul>
						<ul class="lblSelectPair nbdr closed" id="allClientStates">
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">AZ</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="al" class="checked"/>
								  <label for="al">AL</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="ar" class="checked"/>
								  <label for="ar">AR</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="ca" class="checked"/>
								  <label for="ca">CA</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="co" class="checked"/>
								  <label for="co">CO</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">AK</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							 <li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
							<li>
								<div>
								  <input type="checkbox" id="az" class="checked"/>
								  <label for="az">CT</label>
								</div>
								<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							</li>
						</ul>
						</div>
						</div>
					  </div>
					
				
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Market
							</a>
						</h3>
					  </div>
					  <div class="content firstcont" rel="4">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="higherEducation" class="checked"/>
							  <label for="higherEducation">Higher Education </label>
							</div>
							<span class="closed clearspan "><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="higherEducation" class="checked"/>
							  <label for="higherEducation">Higher Education </label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="religion" class="checked"/>
							  <label for="religion">Religion</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="healthcare" class="checked"/>
							  <label for="healthcare">Healthcare</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll ">
							  <input type="checkbox" id="research" class="checked"/>
							  <label for="research">Research</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="clear"></div>
						  </li>
						</ul>
					  </div>
					
					  <div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Segment
							</a>
						</h3>
					  </div>
					  <div class="content firstcont" rel="5">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="channel" class="firstlevel checked"/>
							  <label for="channel">Direct</label>
							</div>
							<div class="clear"></div>
							</li>
						 <li>
						 <div class="fll firstleveldiv">
							  <input type="checkbox" id="status" disabled class="firstlevel checked"/>
							  <label for="status">Non-Direct</label>
						</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
								<ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign checked" />
									  <label for="phoneIn">Premier</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign checked" />
									  <label for="phoneIn">Partner</label>
									</li>
								  </ul>
								</li>
									<li class="np closed">
								  <ul class="lblSelectPair mlm">
								<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign checked" />
									  <label for="phoneIn">Primary</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign checked" />
									  <label for="phoneIn">Hospital</label>
									</li>
								  </ul>
								</li>
							</ul>
							</div>
						</li>
						</ul>
					  </div>
					
					<div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Interactions
							</a>
						</h3>
					  </div>
					  <div class="content firstcont" rel="6">
						<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="channel" disabled class="firstlevel "/>
							  <label for="channel">Channel</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneIn" class="closed secondlevel chkAllign checked" />
									  <label for="phoneIn">Phone (In)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="phoneOut" class="closed secondlevel chkAllign checked"/>
									  <label for="phoneOut">Phone (Out)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="email" class="closed secondlevel chkAllign checked"/>
									  <label for="email">Email</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="inPersonCampus" class="closed secondlevel chkAllign checked"/>
									  <label for="inPersonCampus">In Person (Campus)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="inPersonTiaa" class="closed secondlevel chkAllign checked"/>
									  <label for="inPersonTiaa">In Person (TIAA-CREF)</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="lastVisited" disabled class="firstlevel"/>
							  <label for="lastVisited">Last Visited</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="never" class="chkAllign secondlevel rad" name="lastVisited" />
									  <label for="never">Null</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastWeek" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="lastWeek">Last 30 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastMonth" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="lastMonth">Last 60 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="last3Months" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="last3Months">Last 90 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="last6Months" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="last6Months">Last 180 Days</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="lastYear" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="lastYear">Last Year</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="radio" id="moreYear" class="chkAllign secondlevel rad" name="lastVisited"/>
									  <label for="moreYear">More than One Year</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="status" disabled class="firstlevel"/>
							  <label for="status">Status</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									 <input type="checkbox" id="Open" class="closed secondlevel chkAllign checked"/>
									  <label for="Open">Open</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="In Progress" class="closed secondlevel chkAllign checked"/>
									  <label for="In Progress">In Progress</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="Closed" class="closed secondlevel chkAllign checked"/>
									  <label for="Closed">Closed</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						</ul>
					  </div>
					
					  <div class="hd">
							<h3>
								<a href="#" class="collapsed">
									<span class="icon"></span>Opportunities
								</a>
							</h3>
						  </div>
						  <div class="content firstcont" rel="7">
							<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="opportunityType" disabled class="firstlevel"/>
							  <label for="opportunityType">Opportunity Type</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="annualReview" class="closed secondlevel chkAllign checked" />
									  <label for="annualReview">Annual Review</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="databaseUpdate" class="closed secondlevel chkAllign checked"/>
									  <label for="databaseUpdate">Database Update</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="dueDiligence" class="closed secondlevel chkAllign checked"/>
									  <label for="dueDiligence">Due Diligence</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="executionSummary" class="closed secondlevel chkAllign checked"/>
									  <label for="executionSummary">Execution Summary</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="feeProposal" class="closed secondlevel chkAllign checked"/>
									  <label for="feeProposal">Fee Proposal</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="investmentQuestion" class="closed secondlevel chkAllign checked"/>
									  <label for="investmentQuestion">Investment Question</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="proactiveProposal" class="closed secondlevel chkAllign checked"/>
									  <label for="proactiveProposal">Proactive Proposal</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="rfi" class="closed secondlevel chkAllign checked"/>
									  <label for="rfi">RFI</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="rpf" class="closed secondlevel chkAllign checked"/>
									  <label for="rpf">RFP</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="serviceModel" disabled class="firstlevel"/>
							  <label for="serviceModel">Service Model</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="acquisisionExistingClient" class="closed secondlevel chkAllign checked" />
									  <label for="acquisisionExistingClient">Acquisision (Existing Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="acquisisionNewClient" class="closed secondlevel chkAllign checked"/>
									  <label for="acquisisionNewClient">Acquisision (New Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="deconversionFull" class="closed secondlevel chkAllign checked"/>
									  <label for="deconversionFull">Deconversion (Full)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="deconversionPartial" class="closed secondlevel chkAllign checked"/>
									  <label for="deconversionPartial">Deconversion (Partial)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="nonQualifiedPlansFunded" class="closed secondlevel chkAllign checked"/>
									  <label for="nonQualifiedPlansFunded">Non-Qualified Plans (Funded)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="nonQualifiedPlansUnfunded" class="closed secondlevel chkAllign checked"/>
									  <label for="nonQualifiedPlansUnfunded">Non-Qualified Plans (Unfunded)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="planMerge" class="closed secondlevel chkAllign checked"/>
									  <label for="planMerge">Plan Merge</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="planSplit" class="closed secondlevel chkAllign checked"/>
									  <label for="planSplit">Plan Split</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="recordkeepingServicesExiting" class="closed secondlevel chkAllign checked"/>
									  <label for="recordkeepingServicesExiting">Recordkeeping Services (Exiting)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="straightThruChangeControl" class="closed secondlevel chkAllign checked"/>
									  <label for="straightThruChangeControl">Straight Through Change Control</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="salesPhase" disabled class="firstlevel"/>
							  <label for="salesPhase">Sales Phase</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="one" class="closed secondlevel chkAllign checked" />
									  <label for="one">Closed/Lost</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="two" class="closed secondlevel chkAllign checked"/>
									  <label for="two">Closed/Won</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="three" class="closed secondlevel chkAllign checked"/>
									  <label for="three">Decision Pending</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="four" class="closed secondlevel chkAllign checked"/>
									  <label for="four">Discovery</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="five" class="closed secondlevel chkAllign checked"/>
									  <label for="five">Finalist</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="six" class="closed secondlevel chkAllign checked"/>
									  <label for="six">Propose</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="seven" class="closed secondlevel chkAllign checked"/>
									  <label for="seven">Qualify</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="eight" class="closed secondlevel chkAllign checked"/>
									  <label for="eight">Verbal Win</label>
									</li>
								  </ul>
								</li>
								
							  </ul>
							</div>
						  </li>
						   <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="winProbability" disabled class="firstlevel"/>
							  <label for="winProbability">Win Probability</label>
							  <div class="winProbtxt closed">
									<span id="range1Val">10</span> <span>to</span> <span id="range2Val">30</span>
							  </div>
							</div>
							<div class="flr"><a href="#infodivWin" class="editLink infoPopup" title="Edit" id="winProb"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="productAndServices" disabled class="firstlevel"/>
							  <label for="productAndServices">Product and Services</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product1" class="closed secondlevel chkAllign checked" />
									  <label for="product1">Product 1</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product2" class="closed secondlevel chkAllign checked"/>
									  <label for="product2">Product 2</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product3" class="closed secondlevel chkAllign checked"/>
									  <label for="product3">Product 3</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product4" class="closed secondlevel chkAllign checked"/>
									  <label for="product4">Product 4</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product5" class="closed secondlevel chkAllign checked"/>
									  <label for="product5">Product 5</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product6" class="closed secondlevel chkAllign checked"/>
									  <label for="product6">Product 6</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product7" class="closed secondlevel chkAllign checked"/>
									  <label for="product7">Product 7</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="product8" class="closed secondlevel chkAllign checked"/>
									  <label for="product8">Product 8</label>
									</li>
								  </ul>
								</li>
							  </ul>
							</div>
						  </li>
						</ul>
						</div>
					<div class="hd">
						<h3>
							<a href="#" class="collapsed">
								<span class="icon"></span>Risk
							</a>
						</h3>
					</div>
					<div class="content firstcont" rel="8">
					<ul class="lblSelectPair nbdr">
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="riskStatus" disabled class="firstlevel"/>
							  <label for="riskStatus">Risk Status</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
								<ul class="nlist nm">
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="green" class="closed secondlevel chkAllign checked" />
										  <label for="green">Green</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="yellow" class="closed secondlevel chkAllign checked"/>
										  <label for="yellow">Yellow</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="red" class="closed secondlevel chkAllign checked"/>
										  <label for="red">Red</label>
										</li>
									  </ul>
									</li>
								</ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="topic" disabled class="firstlevel"/>
							  <label for="topic">Topic</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
								<ul class="nlist nm">
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="selectAll" class="closed secondlevel chkAllign checked" />
										  <label for="selectAll	">Select All</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="administratorWebCenter" class="closed secondlevel chkAllign checked"/>
										  <label for="administratorWebCenter">Administrator Web Center</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="annuityFundLine" class="closed secondlevel chkAllign checked"/>
										  <label for="annuityFundLine">Annuity Fund Line-Up</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="annuityPlans" class="closed secondlevel chkAllign checked"/>
										  <label for="annuityPlans">Annuity Plans</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="changeofAdministration" class="closed secondlevel chkAllign checked"/>
										  <label for="changeofAdministration">Change of Administration</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="commonRemitter" class="closed secondlevel chkAllign checked"/>
										  <label for="commonRemitter">Common Remitter</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="complianceCoordinator" class="closed secondlevel chkAllign checked"/>
										  <label for="complianceCoordinator">Compliance Coordinator</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="dCA" class="closed secondlevel chkAllign checked"/>
										  <label for="DCA">DCA</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="directTransfer" class="closed secondlevel chkAllign checked"/>
										  <label for="directTransfer">Direct Transfer</label>
										</li>
									  </ul>
									</li>
									<li class="np closed">
									  <ul class="lblSelectPair mlm">
										<li>
										  <input type="checkbox" id="enrollment" class="closed secondlevel chkAllign checked"/>
										  <label for="enrollment">Enrollment/On-Line Enrollment</label>
										</li>
									  </ul>
									</li>
								  </ul>
							</div>
						  </li>
						  <li>
							<div class="fll firstleveldiv">
							  <input type="checkbox" id="subtopic" disabled class="firstlevel"/>
							  <label for="subtopic">Subtopic</label>
							</div>
							<span class="closed clearspan clickable"><span class="icclearLink icon flr" title="Close">x</span></span>
							<div class="flr"><a href="#" class="editLink" title="Edit" id="oppor_link"><span class="icon penicon">&nbsp;</span></a></div>
							<div class="clear"></div>
							<div class="secondleveldiv closed">
							  <ul class="nlist nm">
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="selectAll" class="closed secondlevel chkAllign checked" />
									  <label for="selectAll">Select All</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="accuracy" class="closed secondlevel chkAllign checked"/>
									  <label for="accuracy">Accuracy/Quality(Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="adminChange" class="closed secondlevel chkAllign checked"/>
									  <label for="adminChange">Admin. Change(Internal)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="assetBreakQualify" class="closed secondlevel chkAllign checked"/>
									  <label for="assetBreakQualify">Asset Break Qualify(Internal)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="availability" class="closed secondlevel chkAllign checked"/>
									  <label for="availability">Availability(Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="budgetShortfall" class="closed secondlevel chkAllign checked"/>
									  <label for="budgetShortfall">Budget Shortfall(Internal)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="changeofAdministration" class="closed secondlevel chkAllign checked"/>
									  <label for="changeofAdministration">Change of Administration</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="communications" class="closed secondlevel chkAllign checked"/>
									  <label for="communications">Communications(Clients)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="competitiveEncroachment" class="closed secondlevel chkAllign checked"/>
									  <label for="competitiveEncroachment">Competitive Encroachment</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="complexity" class="closed secondlevel chkAllign checked"/>
									  <label for="complexity">Complexity(Client)</label>
									</li>
								  </ul>
								</li>
								<li class="np closed">
								  <ul class="lblSelectPair mlm">
									<li>
									  <input type="checkbox" id="Compliance" class="closed secondlevel chkAllign checked"/>
									  <label for="Compliance">Compliance(Client)</label>
									</li>
								  </ul>
								</li>
							</ul>
							</div>
						</li>
					</ul>
			</div>
					
		
				</div>
			</div>
			<!--<a href="#" class="btn btnSmall mtbm inputlg ml txtc" title="Primary Button" role="button">
			  <span>Update Selections</span>
			</a>-->
	</div>