<div id="infodivWin" class="infoHover">
  <div class="pointer"></div>
  <div class="bd inputxlg">
    <div class="mblg">Assets</div>
    <div class="slider mt ui-slider" id="timeframe-slider"></div>
    <div class="mt">
      <label class="abs">0%</label>
      <label class="abs" style="left: 60px;"><span class="icupLink icmid icon"></span><span class="lblmid">20%</span></label>
      <label class="abs" style="left: 110px;"><span class="icupLink icmid icon"></span><span class="lblmid">40%</span></label>
      <label class="abs" style="left: 159px;"><span class="icupLink icmid icon"></span><span class="lblmid">60%</span></label>
      <label class="abs" style="left: 208px;"><span class="icupLink icmid icon"></span><span class="lblmid">80%</span></label>
      <label class="abs" style="left: 245px;">100%</label>
    </div>
    <div class="ptxlg">
      <input type="text" class="inputxs mr" maxlength="5" id="range1" value="10%">
      to
      <input type="text" class="inputxs mls" maxlength="5" id="range2" value="30%">
    </div>
    <div class="btnBar mtm"> <a title="Cancel" class="btn3 rel btncancel" id="winCancel" href="#"><span>Cancel</span></a> <a title="Apply" class="btn clickable rel" id="applySlider" href="#"><span>Apply</span></a> </div>
  </div>
</div>


<div class="infoHover" id="ixiassets">
	<!--<div class="pointer"></div>-->
	<div class="bd inputxlg">
		<div class="mblg txt14">IXI Assets</div>
		<div id="non_qualified_held_away_slider" class="slider"></div>
		<div class="mt">
			<label class="abs" id="lbl9">$0</label>
			<label class="abs" id="lbl10_1"><span class="icupLink icmid icon"></span><span class="lblmid">1m</span></label>
			<label class="abs" id="lbl10_2"><span class="icupLink icmid icon"></span><span class="lblmid">2m</span></label>
			<label class="abs" id="lbl10_3"><span class="icupLink icmid icon"></span><span class="lblmid">3m</span></label>
			<label class="abs" id="lbl10_4"><span class="icupLink icmid icon"></span><span class="lblmid">4m</span></label>
			<label class="abs" id="lbl10">$5m+</label>
		</div>
		<div class="ptxlg"> 
			$<input type="text" value="0.01" id="range9" maxlength="7" class="inputxs mr"/>
			to &nbsp;$<input type="text" value="5m+" id="range10" maxlength="7" class="inputxs mls"/>
		</div>
		<div class="btnBar pbs">
			<button class="btn btnSmall btnLink" title="Cancel" id="btncancel4"><span>Cancel</span></button>
			<button class="btn2 btnSmall" title="Apply" id="btnapply4"><span>Apply</span></button> 
		</div>
	</div>
</div>
<div class="infoHover" id="assetClassId">
  <!--<div class="pointer"></div>-->
  <div class="bd">
    <div class="clearfix">
      <div class="one_half ">
        <div class="mb">Asset Class</div>
        <ul class="lblSelectPair assetClass">
          <li class="check">
            <input id="asset1" name="asset1" type="checkbox" class="chkbox allSel" aria-required="" />
            <label for="asset1">All Assets</label>
          </li>
          <li class="check">
            <input id="asset2" name="asset2" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset2">Equities</label>
          </li>
          <li class="check">
            <input id="asset3" name="asset3" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset3">Money Market</label>
          </li>
          <li class="check">
            <input id="asset4" name="asset4" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset4">Fixed Income</label>
          </li>
          <li class="check">
            <input id="asset5" name="asset5" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset5">Multi-Asset</label>
          </li>
          <li class="check">
            <input id="asset6" name="asset6" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset6">Guaranteed</label>
          </li>
          <li class="check">
            <input id="asset7" name="asset7" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset7">Real Estate</label>
          </li>
          <li class="check">
            <input id="asset8" name="asset8" type="checkbox" class="chkbox sel" aria-required="" />
            <label for="asset8">Brokerage</label>
          </li>
        </ul>
      </div>
      <div class="one_half column_last"></div>
    </div>
    <div class="btnBar pbs"> <a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> <a href="#" id="assetapply" class="btn clickable btnSmall" title="Apply"><span>Apply</span></a> </div>
  </div>
</div>
<div class="infoHover" id="investmentId">
 <!-- <div class="pointer"></div>-->
  <div class="bd">
    <div>Investments</div>
    <ul class="lblSelectPair">
      <li class="check">
        <label for="investType" class="txtb">By Investment Type</label>
      </li>
    </ul>
    <div id="InvestType">
      <div class="scrollCont1 pop">
        <div Class="scrollBody1 rel">
          <div class="mlm">
            <ul class="lblSelectPair mls" id="InstName">
              <li class="check">
                <input type="checkbox" class="allSels" id="allInvestments"/>
                <label for="allInvestments">Select All</label>
              </li>
              <li class="check">
                <input type="checkbox" class="chkbox sels" id="invest0"/>
                <label for="invest0">Advisor One Amerigo Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest1" class="chkbox sels"/>
                <label for="invest1">Advisor One Clermont Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest2" class="chkbox sels"/>
                <label for="invest2">Advisor One Descartes Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest3" class="chkbox sels"/>
                <label for="invest3">Advisor One Flexible Income Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest4" class="chkbox sels"/>
                <label for="invest4">Advisor One Liahona Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest5" class="chkbox sels"/>
                <label for="invest5">Advisor One Select Allocation Fund Class N</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest6" class="chkbox sels"/>
                <label for="invest6">Alger Capital Appreciation Portfolio I-2</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest7" class="chkbox sels"/>
                <label for="invest7">Alger Spectra Fund Class I</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest8" class="chkbox sels"/>
                <label for="invest8">Alliance Bernstein Discovery Growth Fund Class A</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest9" class="chkbox sels"/>
                <label for="invest9">Alliance Bernstein Discovery Growth Fund Inc. Class I</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest10" class="chkbox sels"/>
                <label for="invest10">Alliance Bernstein Discovery Value Fund Advisor Class</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest11" class="chkbox sels"/>
                <label for="invest11">Alliance Bernstein Discovery Value Fund Class A</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest12" class="chkbox sels"/>
                <label for="invest12">Alliance Bernstein Discovery Value Fund Class I</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest13" class="chkbox sels"/>
                <label for="invest13">Alliance Bernstein Global Bond Fund Advisor Class</label>
              </li>
              <li class="check">
                <input type="checkbox" id="invest14" class="chkbox sels"/>
                <label for="invest14">Alliance Bernstein Global Bond Fund Class A</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="btnBar pbs"> <a href="#" class="btn3 rel btnSmall btncancel" id="assetCancel" title="Cancel"><span>Cancel</span></a> <a href="#" id="btnapply" class="btn clickable btnSmall btncancel" title="Apply"><span>Apply</span></a> </div>
  </div>
</div>
<div id="manageBookPopup" class="popup" data-popup="width:600" title="Manage Custom Books">
  <div class="body">
    <div class="alertModule hidden" aria-live="assertive" id="alertModule">
      <div> <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li role="alert">New Name Can Not Be Blank.Please Enter a Book Name Before Saving.</li>
        </ul>
      </div>
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb mtm">
        <label for="">Book Name:</label>
      </div>
      <div class="input">
        <div class="scrollContainer nm nbdr">
          <div id="mngCustLst" class="bdr p clickable">
            <ul class="nlist np">
              <li rel="mli" class="flevel"><span class="txtb">My Client Books</span>
                <ul class="nlist pl nmb" id="myClientBooks">
                  <li rel="b1" class="myBk">Book1</li>
                  <li rel="b2" class="myBk">Book2</li>
                  <li rel="b3" class="myBk">Book3</li>
                </ul>
              </li>
              <li rel="mli" class="flevel"><span class="txtb">All Client Books</span>
                <ul class="nlist pl nmb" id="allClientBooks">
                  <li rel="allb1">AllBook1</li>
                  <li rel="allb2">AllBook2</li>
                  <li rel="allb3">AllBook3</li>
                </ul>
              </li>
              <li rel="mli" class="flevel"><span class="txtb">Global Books</span>
                <ul class="nlist pl nmb" id="globalBooks">
                  <li rel="gb1" class="gblbk">GlobalBook1</li>
                  <li rel="gb2" class="gblbk">GlobalBook2</li>
                  <li rel="gb3" class="gblbk gbldra">GlobalBook3(Draft)</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="lblFieldPair">
      <div class="lbl p">
        <label for="">Take Action:</label>
      </div>
      <div class="input">
        <div class="">
          <select id="actionSelect" name="actionSelect" aria-required="" class="m" disabled>
            <option value="sel">-Select-</option>
            <!--<option value="makecopy">Make Copy</option>-->
            <option value="rename">Rename</option>
            <option value="setasdef">Set As Default Book</option>
            <option value="publish" disabled>Publish Draft</option>
            <option value="del">Delete</option>
          </select>
          <input type="text" id="renameBook" name="renameBook" aria-required="" class="closed"/>
        </div>
      </div>
    </div>
  </div>
  <div class="btnBar"> <a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
    <button class="btn" title="Apply" id="applyMngCust"><span>Apply</span></button>
  </div>
</div>
<div id="createBookPopup" class="popup" data-popup="width:700" title="Create Custom Books">
  <div class="body">
    <div class="alertModule hidden" aria-live="assertive" id="alertModule1">
      <div> <span class="icon"></span>
        <h4 role="alert">Error:</h4>
        <ul>
          <li role="alert">Please Enter a Book Name before you save.</li>
        </ul>
      </div>
    </div>
    <div class="lblFieldPair">
      <div class="lbl txtb mtm">
        <label for="">Current Selections:</label>
      </div>
      <div class="input">
        <div class="scrollContainer nbdr">
          <div class="bdr p rel">
            <ul class="nlist" id= "curSelPopup">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nbdr">
      <div class="lblFieldPair">
        <div class="lbl">
          <label for="">Book Name:</label>
        </div>
        <div class="input">
          <input type="text" id="bookNamePopup" name="bookNamePopup" aria-required=""/>
          <ul class="lblinline flr" id="bookNameRadio">
            <li>
              <input type="radio" id="cbradio1" name="cbradio" rel="#globalBooks #globalClients" class="radio" aria-labelledby="cbradio" />
              <label for="cbradio1">Global</label>
            </li>
            <li>
              <input type="radio" id="cbradio2" name="cbradio" rel="#globalBooks #globalClients" class="radio" aria-labelledby="cbradio" />
              <label for="cbradio2">Global Draft</label>
            </li>
            <li>
              <input type="radio" id="cbradio3" name="cbradio" rel="#myClientBooks #myClients" class="radio" checked="checked" aria-labelledby="cbradio" />
              <label for="cbradio3">My Book(s)</label>
            </li>
          </ul>
          <ul class="lblSelectPair">
            <li>
              <input id="setDfltBook" name="setDfltBook" type="checkbox" class="chkbox mtxs" aria-required="" />
              <label for="democheckbox1" class="setLbl">Set As Default Book</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="btnBar"> <a role="button" href="#" class="btn3 closePopup" title="Cancel"><span>Cancel</span></a>
    <button class="btn" title="Save" id="saveCustomBook"><span>Save Custom Book</span></button>
  </div>
</div>
<div id="alertPopup" class="popup" data-popup="width:300" title="Alert">
  <div class="body"> You have selected a different view.Switching views will clear all selected filters.Do you wish to change views? </div>
  <div class="btnBar"> <a role="button" href="#" id="cancelViewChange" class="btn3 closePopup" title="No"><span>No</span></a> <a role="button" href="#" id="viewChange" class="btn closePopup" title="Yes"><span>Yes</span></a> </div>
</div>
<div id="deleteBook" class="popup" data-popup="width:300" title="Alert">
  <div class="body"> You have chosen to delete the<span id="bnam" class="txtb closed"></span> custom book.Are you sure you want to delete this book? </div>
  <div class="btnBar"> <a role="button" href="#" id="canceldel" class="btn3 closePopup" title="No"><span>No</span></a> <a role="button" href="#" id="delBook" class="btn closePopup" title="Yes"><span>Yes</span></a> </div>
</div>
<div class="actionsMenu" id="group-actions">
  <ul id="groupaccmenu" class="">
    <li> <a href="assets/ibob_excel.xlsx" title="Export to Excel">Export to Excel</a></li>
  </ul>
</div>



<div id="generatereport" class="popup" data-popup="width:600" title="Generate Report">
<div class="body">
<div class="reportscrollcontainer">
<div>
<div class="smallPanel">

   <div class="alertModule visible" role="alert">
       <div>
          <span class="icon"></span>
          <h4>Error:Too many rows to export in the following tabs. 50k maximum. Please modify your filter criteria and try again.</h4>
          <ul>
             <li>Interactions</li>
          </ul>
       </div>
    </div>

<ul class="nlist">
  <li>
    <input type="checkbox" id="selectallTabs" value="Select All" name="">
    Select All Tabs </li>
</ul>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="expanded" title="Select to expand or collapse content below"> <span class="icon">+</span>At a Glance</a>
    <span class="flr">100</span> 
    </h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name="chkAll"  value="Select All" id='ataglance'/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Managing Director" />
              Managing Director </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Director" />
              Director </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="CSC" />
              CSC </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="State" />
              State </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Secondary RM" />
              Secondary RM </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Secondary CSC/Emeriti CSC" />
              Secondary CSC/Emeriti CSC </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Segment" />
              Segment </li>
            <li>
              <input type="checkbox" id="" name="ataglance[]"  value="Region" />
              Region </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Interactions/Tasks</a> 
    <span class="flr">120</span>
    </h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name=""  value="Select All" id="interactionc"/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Client service Consultant" />
              Client service Consultant </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Status" />
              Status </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Channel" />
              Channel </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Last Visited" />
              Last Visited </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Close Date" />
              Close Date</li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="External Attendee" />
              External Attendee </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Topic" />
              Topic </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Sub Topic" />
              Sub Topic </li>
            <li>
              <input type="checkbox" id="" name="interaction[]"  value="Interaction ID	" />
              Interaction/Task ID </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panels">
<div class="hd first">
  <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Opportunities</a> 
  <span class="flr">532</span>
  </h3>
</div>
<div class="content">
<div class="bd">
<div class="clearfix">
<ul class="nlist">
  <li>
    <input type="checkbox"  name=""  value="Select All" id='opportunity'/>
    Select All</li>
</ul>
<div class="one_half" >
  <ul class="nlist">
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Client ID" />
      Client ID </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Client Name" />
      Client Name </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Relationship Manager" />
      Relationship Manager </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Client service Consultant" />
      Client service Consultant </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Oppty ID" />
      Oppty ID </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Create Date" />
      Create Date </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Oppty Type" />
      Oppty Type </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Service Model" />
      Service Model </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Create Date" />
      Create Date </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Product & Services" />
      Product & Services </li>
    <li>
      <input type="checkbox" id="" name="opportunity[]"  value="Sales Phase" />
      Sales Phase </li>
    <li>
      <input type="checkbox" id="" name="opportunity1[]"  value="Win Prob." />
      Win Prob. </li>
  </ul>
</div>
<div class="one_half column_last">
<ul class="nlist">
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Status" />
  Status </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Go Live Date" />
  Go Live Date</li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Client Decision Date" />
  Client Decision Date </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="RFP Due Date" />
  RFP Due Date </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Client Imp. Date" />
  Sub Topic </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Interaction ID	" />
  Client Imp. Date</li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Expected Amount" />
  Expected Amount</li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Exp. Bulk Transfers" />
  Exp. Bulk Transfers</li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Exp. Indiv. Transfers" />
  Exp. Indiv. Transfers </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="POT. New Enrollees" />
  POT. New Enrollees </li>
<li>
  <input type="checkbox" id="" name="opportunity[]"  value="Interaction ID	" />
  Notes </li>
</li>
</div>
</div>
</div>
</div>
</div>
<div class="panels">
<div class="hd first">
  <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Risk</a> 
  <span class="flr">856</span>
  </h3>
</div>
<div class="content">
<div class="bd">
<div class="clearfix">
<ul class="nlist">
  <li>
    <input type="checkbox"  name=""  value="Select All" id='riskrpt'/>
    Select All</li>
</ul>
<div class="one_half" >
<ul class="nlist">
<li>
  <input type="checkbox" id="" name="risk[]"  value="Client ID" />
  Client ID </li>
<li>
  <input type="checkbox" id="" name="risk[]"  value="Client Name" />
  Client Name </li>
<li>
  <input type="checkbox" id="" name="risk[]"  value="Relationship Manager" />
  Relationship Manager </li>
<li>
  <input type="checkbox" id="" name="risk[]"  value="Client service Consultant" />
  Client service Consultant </li>
<li>
  <input type="checkbox" id="" name="risk[]"  value="Status" />
  Status </li>
</li>
</div>
<div class="one_half column_last">
  <ul class="nlist">
    <li>
      <input type="checkbox" id="" name="risk[]"  value="Overall Risk Status" />
      Overall Risk Status </li>
    <li>
      <input type="checkbox" id="" name="risk[]"  value="Risk Id" />
      Risk Id </li>
    <li>
      <input type="checkbox" id="" name="risk[]"  value="Last Updated" />
      Last Updated </li>
    <li>
      <input type="checkbox" id="" name="risk[]"  value="Topic" />
      Topic </li>
    <li>
      <input type="checkbox" id="" name="risk[]"  value="Sub Topic" />
      Sub Topic </li>
  </ul>
</div>
</div>
</div>
</div>
</div>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Assets</a><span class="flr">07</span> </h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name=""  value="Select All" id='assets'/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Client service Consultant" />
              Client service Consultant </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Total Assets" />
              Total Assets </li>
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Avg Participant Balance" />
              Avg Participant Balance </li>
            <li>
              <input type="checkbox" id="" name="assets[]"  value="Total Participants" />
              Total Participants </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Contributions</a> 
    <span class="flr">906</span>
    </h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name=""  value="Select All" id='contributions'/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="Client service Consultant" />
              Client service Consultant </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="YTD contribution Totals" />
              YTD contribution Totals </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="Selected Date Range Results" />
              Selected Date Range Results</li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="YTD % TO PROPRIETARY" />
              YTD % TO PROPRIETARY </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="YTD % TO NON-PROPRIETARY" />
              YTD % TO NON-PROPRIETARY </li>
            <li>
              <input type="checkbox" id="" name="contributions[]"  value="TOTAL ASSETS" />
              TOTAL ASSETS </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Transfers</a> 
    <span class="flr">985</span></h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name=""  value="Select All" id='transfers'/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Client service Consultant" />
              Client service Consultant </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="YTD Totals for Inflows" />
              YTD Totals for Inflows</li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Selected Date for Inflows" />
              Selected Date for Inflows
              <input type="button" id="tooltip-example1" name="tooltip-example1" class="tipLink" value="?" role="button" aria-describedby="help-example1"/>
              <div class="tipContents" id="help-example1" role="tooltip" aria-hidden="true">Selected Date Range column is applicable only when Date Range filter is applied</div>

            </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="YTD Totals for Outflows" />
              YTD Totals for Outflows </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="Selected Date Range Outflows" />
              Selected Date Range Outflows </li>
            <li>
              <input type="checkbox" id="" name="transfers[]"  value="# of Participants with Outflows" />
              # of Participants with Outflows</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panels">
  <div class="hd first">
    <h3><a href="#" class="collapsed" title="Select to expand or collapse content below"> <span class="icon">+</span>Distributions</a> <span class="flr">859</span></h3>
  </div>
  <div class="content">
    <div class="bd">
      <div class="clearfix">
        <ul class="nlist">
          <li>
            <input type="checkbox"  name=""  value="Select All" id='distributions'/>
            Select All</li>
        </ul>
        <div class="one_half" >
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Client ID" />
              Client ID </li>
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Client Name" />
              Client Name </li>
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Relationship Manager" />
              Relationship Manager </li>
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Managing Director" />
              Managing Director </li>
          </ul>
        </div>
        <div class="one_half column_last">
          <ul class="nlist">
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Total Distribution YTD" />
              Total Distribution YTD</li>
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Distribution For Selected Date Range" />
              Distribution For Selected Date Range</li>
            <li>
              <input type="checkbox" id="" name="distributions[]"  value="Total # Of Participants" />
              Total # Of Participants </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="btnBar nbdr">
    <input type="button" class="btn" id="reportgeneratebtn" value="Generate Report" />
</div>
</div>
</div>
